{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}


<div class="middle">


    <div class="article-head" style="background-image: url('/static/images/hero-image-02.jpg');">
        <h1><span>The ultimate list of the best fairtrade-hipster-ganic cafes in the Auckland Supercity area</span></h1>
    </div>


    <section>
        <div class="section-container">


            <div class="grid">
                <div class="grid__item one-whole">

                    <div class="article-sub-head card card-minimal">
                        <div class="article-desc">
                            <i class="fa fa-camera"></i> The hipster vibe from the Kohu road cafe in Auckland. Photograph: Robert Smith / APN
                        </div>
                        <div class="article-author">
                            By <b>Rebecca Smith</b> 4th November 2014
                        </div>
                    </div>
                </div>
            </div>


            <div class="grid">

                <div class="grid__item one-whole desk--six-tenths">

                    <div class="article-body">

                        <h5>Facing up to life’s everyday challenges</h5>

                        <p>I have a problem. My problem is exactly 45 millimetres (mm) high by 35 mm wide (I just googled it). My problem is burgundy coloured and growing more of a problem each day. Yes you guessed it, my UK passport has expired. </p>

                        <p>The act of shunning or avoiding is familiar to most of us
                        I am a huge, enormous self-confessed shirker, a dodger. What’s that saying ‘put off until tomorrow what you don’t feel like doing today’, maybe that is my version. </p>

                        <p>The act of shunning or avoiding is familiar to most of us, not going to the supermarket, emptying the rubbish bins these are your run of the mill tasks to be avoided. However, the process of obtaining, renewing, or updating a passport is exactly what one would expect when working with a government agency: tedious, mind-numbing, and overly complex. </p>

                        <aside>
                            What does a Justice of the Peace (JP) do? All JP services are free. They have two sets of responsibilities – ministerial and judicial.
                        </aside>

                         <p>While you'll find everything you need to know about the often befuddling process on the government website, it’s often scattered around the website like tiny breadcrumbs. Collecting miniature scraps of information into a meal is a challenge for normal humans let alone a gigantic shirker whose attention span can be stolen by the mere suggestion of dogs in costumes.</p>

                        <p>After much wringing of hands and verbal berating by loved ones, we can all fill out forms. But what is the one thing we all struggle with … getting a document witnessed for obtaining certified copies of documents. Little square boxes we can deal with but having find someone official, someone recognised by society as being responsible? That’s another matter.</p>

                        <h5>Saviours</h5>

                        <p>Thankfully we have the answer on our doorstep … a Justice of the Peace Officer. </p>

                        <p>What does a Justice of the Peace (JP) do? All JP services are free. They have two sets of responsibilities – ministerial and judicial. Their ministerial roles include:</p>

                        <ul>
                            <li>Witnessing signatures on documents</li>
                            <li>Certifying copies of documents</li>
                            <li>Completing declarations (including statutory declarations), affidavits or affirmations</li>
                            <li>Judicial duties require additional specific training and could include;</li>
                            <li>Hearing summary offences</li>
                            <li>Conducting traffic courts</li>
                            <li>Hearing bail applications and requests for remands and adjournments</li>
                            <li>Issuing search warrants</li>
                        </ul>

                        <h5>How do I find a Justice of the Peace?</h5>

                        <p>There are a number of ways you can find a Justice of the Peace: </p> 

                        <div class="embed-container">
                            <iframe src="http://www.youtube.com/embed/QILiHiTD3uc" frameborder="0" allowfullscreen></iframe>
                        </div>

                        <p>The website of the Royal Federation of NZ Justices Associations
                        the Citizens Advice Bureau - many Bureaux have volunteers who are JPs and can provide JP services to members of the public.  Some of our Bureaux hold JP clinics where members of the public can receive JP services at designated times at the Bureau.</p>

                        <p>While you'll find everything you need to know about the often befuddling process on the government website, it’s often scattered around the website like tiny breadcrumbs. Collecting miniature scraps of information into a meal is a challenge for normal humans let alone a gigantic shirker whose attention span can be stolen by the mere suggestion of dogs in costumes.</p>

                        <p>After much wringing of hands and verbal berating by loved ones, we can all fill out forms. But what is the one thing we all struggle with … getting a document witnessed for obtaining certified copies of documents. Little square boxes we can deal with but having find someone official, someone recognised by society as being responsible? That’s another matter.</p>

                    </div>

                    <div class="article-footer grid">

                        <div class="article-listings grid__item one-half">
                            <a href="#"><i class="fa fa-globe"></i> View this business listing</a>
                        </div>

                        <div class="share grid__item one-half">

                            <b>Share:</b>

                            <a href="//www.facebook.com/sharer/sharer.php?u={{ article_permalink }}" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="//twitter.com/home?status={{ article_permalink }}" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="//plus.google.com/share?url={{ article_permalink }}" target="_blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>

                </div>


                <div class="grid__item one-whole desk--four-tenths">

                    <div class="article-popular">
                        <h3>Popular articles and interviews</h3>

                        <div class="grid articles">
                            <div class="grid__item one-half palm--one-whole">
                                <div class="card card__image image--article">
                                    <div class="article-date">
                                        <span class="date-day">5th</span>
                                        <span class="date-month">Dec</span>
                                    </div>
                                    <div class="article-title">
                                        <a href="#">New Zealand's top 10 beaches</a>
                                    </div>
                                    <a href="#"><img src="/static/images/article-thumb-01.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="grid__item one-half palm--one-whole">
                                <div class="card card__image image--article">
                                    <div class="article-date">
                                        <span class="date-day">5th</span>
                                        <span class="date-month">Dec</span>
                                    </div>
                                    <div class="article-title">
                                        <a href="#">New Zealand's top 10 beaches</a>
                                    </div>
                                    <a href="#">
                                        <img src="/static/images/article-thumb-02.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="grid__item one-half palm--one-whole">
                                <div class="card card__image image--article">
                                    <div class="article-date">
                                        <span class="date-day">5th</span>
                                        <span class="date-month">Dec</span>
                                    </div>
                                    <div class="article-title">
                                        <a href="#">New Zealand's top 10 beaches</a>
                                    </div>
                                    <a href="#">
                                        <img src="/static/images/article-thumb-03.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="grid__item one-half palm--one-whole">
                                <div class="card card__image image--article">
                                    <div class="article-date">
                                        <span class="date-day">5th</span>
                                        <span class="date-month">Dec</span>
                                    </div>
                                    <div class="article-title">
                                        <a href="#">New Zealand's top 10 beaches</a>
                                    </div>
                                    <a href="#">
                                        <img src="/static/images/article-thumb-04.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="grid__item one-whole palm--one-whole">
                                <div class="card card__image image--article">
                                    <div class="article-date">
                                        <span class="date-day">5th</span>
                                        <span class="date-month">Dec</span>
                                    </div>
                                    <div class="article-title">
                                        <a href="#">New Zealand's top 10 beaches</a>
                                    </div>
                                    <a href="#">
                                        <img src="/static/images/article-thumb-07.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="grid__item one-half palm--one-whole">
                                <div class="card card__image image--article">
                                    <div class="article-date">
                                        <span class="date-day">5th</span>
                                        <span class="date-month">Dec</span>
                                    </div>
                                    <div class="article-title">
                                        <a href="#">New Zealand's top 10 beaches</a>
                                    </div>
                                    <a href="#">
                                        <img src="/static/images/article-thumb-05.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="grid__item one-half palm--one-whole">
                                <div class="card card__image image--article">
                                    <div class="article-date">
                                        <span class="date-day">5th</span>
                                        <span class="date-month">Dec</span>
                                    </div>
                                    <div class="article-title">
                                        <a href="#">New Zealand's top 10 beaches</a>
                                    </div>
                                    <a href="#">
                                        <img src="/static/images/article-thumb-06.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>

</div>


{% endblock %}