{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}


<div class="middle">


<section>
    <div class="section-container">

        <div class="grid">

            <div class="grid__item one-whole desk--three-quarters">

                <div class="grid">

                    <div class="grid__item one-whole">

                        <h4>Featured</h4>

                        <div class="slider slider-feature">

                            <div class="slider-content">
                                <div class="slider-item" style="background-image: url(/static/images/slide1.jpg);">
                                    <div class="slider-description">
                                        <div class="review-feature review-feature--for-slider">
                                            <h6>The ultimate list of the best fairtrade-hipster-ganic cafes in the Auckland Supercity area</h6>
                                            <div class="feature__content">
                                                <div class="feature__comment ">
                                                    I have a problem. My problem is exactly 45 millimetres (mm) high by 35 mm wide (I just googled it). My problem is burgundy coloured and growing more of a problem each day. Yes you guessed it, my UK passport has expired.
                                                    <a class="read__more" href="#">Read article</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item" style="background-image: url(/static/images/slide2.jpg);">
                                    <div class="slider-description">
                                        <div class="review-feature review-feature--for-slider">
                                            <h6>The ok list of the more mediocre oktrade-ganic cafes in the Auckland Okcity area</h6>
                                            <div class="feature__content">
                                                <div class="feature__comment ">
                                                    I have a problem. My problem is exactly 45 millimetres (mm) high by 35 mm wide (I just googled it). My problem is burgundy coloured and growing more of a problem each day. Yes you guessed it, my UK passport has expired.
                                                    <a class="read__more" href="#">Read article</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item" style="background-image: url(/static/images/slide3.gif);">
                                    <div class="slider-description">
                                        <div class="review-feature review-feature--for-slider">
                                            <h6>The worst list of the most rubbish exploitative-ganic cafes in the Auckland underworld</h6>
                                            <div class="feature__content">
                                                <div class="feature__comment ">
                                                    I have a problem. My problem is exactly 45 millimetres (mm) high by 35 mm wide (I just googled it). My problem is burgundy coloured and growing more of a problem each day. Yes you guessed it, my UK passport has expired.
                                                    <a class="read__more" href="#">Read article</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-arrows">
                                <a class="arrow-left"></a>
                                <a class="arrow-right"></a>
                            </div>

                            <div class="slider-nav slider-bullets">
                                <span>&bullet;</span>
                                <span>&bullet;</span>
                                <span>&bullet;</span>
                            </div>
                        </div>

                        <h4>Latest</h4>

                        <div class="grid article-precis-medium">
                            <div class="grid__item one-whole lap--one-half desk--one-third">
                                <div class="card card__image">
                                    <a href="#"><img src="/static/images/article-thumb-01.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="grid__item one-whole lap--one-half desk--two-thirds">
                                <h5>What you need to know about Skype</h5>
                                <p><sub>12 September 2014</sub></p>
                                <p>
                                    Skype proudly announced that their users spend a total of 2 billion 
                                    minutes per day using the service.
                                </p>

                                <p><a href="#">Read more</a></p>
                            </div>
                        </div>

                        <div class="grid article-precis-medium">
                            <div class="grid__item one-whole lap--one-half desk--one-third">
                                <div class="card card__image">
                                    <a href="#"><img src="/static/images/article-thumb-02.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="grid__item one-whole lap--one-half desk--two-thirds">
                                <h5>Perfect your christmas card ettiquette</h5>
                                <p><sub>12 September 2014</sub></p>
                                <p>
                                    Skype proudly announced that their users spend a total of 2 billion 
                                    minutes per day using the service.
                                </p>

                                <p><a href="#">Read more</a></p>
                            </div>
                        </div>

                        <div class="grid article-precis-medium">
                            <div class="grid__item one-whole lap--one-half desk--one-third">
                                <div class="card card__image">
                                    <a href="#"><img src="/static/images/article-thumb-03.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="grid__item one-whole lap--one-half desk--two-thirds">
                                <h5>Staying healthy as the seasons change</h5>
                                <p><sub>12 September 2014</sub></p>
                                <p>
                                    Skype proudly announced that their users spend a total of 2 billion 
                                    minutes per day using the service.
                                </p>

                                <p><a href="#">Read more</a></p>
                            </div>
                        </div>

                        <hr>

                        <div class="pagination">
                            <div class="button-group button-group--spaced {# button-group--responsive #}">
                                <a href="#" class="button button--small"><i class="fa fa-chevron-left fa-pad--right"></i> Prev</a>
                                <a href="#" class="button button--small">1</a>
                                <a href="#" class="button button--small button--inactive">2</a>
                                <a href="#" class="button button--small">3</a>
                                <a href="#" class="button button--small">Next <i class="fa fa-chevron-right fa-pad--left"></i></a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="grid__item one-whole desk--one-quarter">

                <h4>Popular</h4>

                <div class="article-precis-small">
                    <h6>Relaxing beach</h6>
                    <div class="grid">
                        <div class="grid__item one-third">
                            <div class="card card__image">
                                <a href="#"><img src="/static/images/article-thumb-03.jpg" alt="" class="image-thumb-square"></a>
                            </div>
                        </div>
                        <div class="grid__item two-thirds">
                            <p>Lorem ipsum dolor sit amet</p>
                            <p><a href="#">Read more</a></p>
                        </div>
                    </div>
                </div>

                <div class="article-precis-small">
                    <h6>Relaxing beach</h6>
                    <div class="grid">
                        <div class="grid__item one-third">
                            <div class="card card__image">
                                <a href="#"><img src="/static/images/article-thumb-03.jpg" alt="" class="image-thumb-square"></a>
                            </div>
                        </div>
                        <div class="grid__item two-thirds">
                            <p>Lorem ipsum dolor sit amet</p>
                            <p><a href="#">Read more</a></p>
                        </div>
                    </div>
                </div>

                <div class="article-precis-small">
                    <h6>Relaxing beach</h6>
                    <div class="grid">
                        <div class="grid__item one-third">
                            <div class="card card__image">
                                <a href="#"><img src="/static/images/article-thumb-03.jpg" alt="" class="image-thumb-square"></a>
                            </div>
                        </div>
                        <div class="grid__item two-thirds">
                            <p>Lorem ipsum dolor sit amet</p>
                            <p><a href="#">Read more</a></p>
                        </div>
                    </div>
                </div>

                <div class="article-precis-small">
                    <h6>Relaxing beach</h6>
                    <div class="grid">
                        <div class="grid__item one-third">
                            <div class="card card__image">
                                <a href="#"><img src="/static/images/article-thumb-03.jpg" alt="" class="image-thumb-square"></a>
                            </div>
                        </div>
                        <div class="grid__item two-thirds">
                            <p>Lorem ipsum dolor sit amet</p>
                            <p><a href="#">Read more</a></p>
                        </div>
                    </div>
                </div>

                <div class="article-precis-small">
                    <h6>Relaxing beach</h6>
                    <div class="grid">
                        <div class="grid__item one-third">
                            <div class="card card__image">
                                <a href="#"><img src="/static/images/article-thumb-03.jpg" alt="" class="image-thumb-square"></a>
                            </div>
                        </div>
                        <div class="grid__item two-thirds">
                            <p>Lorem ipsum dolor sit amet</p>
                            <p><a href="#">Read more</a></p>
                        </div>
                    </div>
                </div>


                <h4>Categories</h4>

                <ul class="article-category-links">
                    <li><a href="/"><b>All</b> <span>(103)</span></a></li>
                    <li><a href="/"><b>Tech</b> <span>(103)</span></a></li>
                    <li><a href="/"><b>Health</b> <span>(103)</span></a></li>
                    <li><a href="/"><b>Gifts</b> <span>(103)</span></a></li>
                    <li><a href="/"><b>Family</b> <span>(103)</span></a></li>
                </ul>

            </div>

        </div>

    </div>
</section>



</div>


{% endblock %}



{% block pagescripts %}

    {% compressed_js 'articleArchive' %}

{% endblock %}

