{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}


<div class="middle">

    <section>
        <div class="section-container">

            <div class="grid">

                <div class="grid__item one-whole">
                    <div class="browse card card-shadow">

                        <div class="browse-letters">

                            <a href="/browse/a-d#a">a</a>
                            <a href="/browse/a-d#b">b</a>
                            <a href="/browse/a-d#c">c</a>
                            <a href="/browse/a-d#d">d</a>

                            <a href="/browse/e-h#e">e</a>
                            <a href="/browse/e-h#f">f</a>
                            <a href="/browse/e-h#g">g</a>
                            <a href="/browse/e-h#h">h</a>

                            <a href="/browse/i-l#i">i</a>
                            <a href="/browse/i-l#j">j</a>
                            <a href="/browse/i-l#k">k</a>
                            <a href="/browse/i-l#l">l</a>

                            <a href="/browse/m-p#m">m</a>
                            <a href="/browse/m-p#n">n</a>
                            <a href="/browse/m-p#o">o</a>
                            <a href="/browse/m-p#p">p</a>

                            <a href="/browse/q-t#q">q</a>
                            <a href="/browse/q-t#r">r</a>
                            <a href="/browse/q-t#s">s</a>
                            <a href="/browse/q-t#t">t</a>

                            <a href="/browse/u-x#u">u</a>
                            <a href="/browse/u-x#v">v</a>
                            <a href="/browse/u-x#w">w</a>
                            <a href="/browse/u-x#x">x</a>

                            <a href="/browse/y-z#y">y</a>
                            <a href="/browse/y-z#z">z</a>

                        </div>


                        <div class="browse-letter-categories">

                            <a class="browse-letter" name="a">A</a>

                            <div class="browse-category">

                                <h3>Automotive</h3>

                                <div class="grid">
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                </div>
                            </div>

                            <div class="browse-category">

                                <h3>Accommodation</h3>

                                <div class="grid">
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                </div>
                            </div>

                        </div>

                        
                        <div class="browse-letter-categories">   

                            <a class="browse-letter" name="b">B</a>

                            <div class="browse-category">

                                <h3>Business &amp; Professional Services</h3>

                                <div class="grid">
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                </div>
                            </div>

                        </div>


                        <div class="browse-letter-categories">   

                            <a class="browse-letter" name="c">C</a>

                            <div class="browse-category">

                                <h3>Computers &amp; Communications</h3>

                                <div class="grid">
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                </div>
                            </div>

                        </div>


                        <div class="browse-letter-categories">   

                            <a class="browse-letter" name="d">D</a>

                            <div class="browse-category">

                                <h3>Data Scientists, Data Mining</h3>

                                <div class="grid">
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                    <a href="/" class="grid__item one-third lap--one-half palm--one-whole">
                                        <span><b>Bed &amp; Breakfasts</b> <i class="fa fa-chevron-right"></i></span>
                                    </a>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>

        </div>
    </section>

</div>


{% endblock %}