{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}


<div class="middle">

   <section>
        <div class="section-container">
            <div class="grid">

                <div class="grid__item  one-half  palm--one-whole">

                    <div class="grid"> 
                        <div class="grid__item">
                            <div class="card card-shadow-frame">
                                <div class="card__title">
                                    <h4>Grid 1.3</h4>
                                    <div class="card__title-tools">

                                    </div>
                                </div>
                                <div class="card__content">Content</div>
                            </div>
                        </div>

                        <div class="grid__item  lap--one-whole  one-third">
                            <div class="card card-shadow-frame">
                                <div class="card__title"><h4>Grid 1.2</h4></div>
                                <div class="card__content">Content</div>
                            </div>
                        </div>

                        <div class="grid__item  lap--one-whole  two-thirds">
                            <div class="card card-shadow-frame">
                                <div class="card__title"><h4>Grid 1.3</h4></div>
                                <div class="card__content">Content</div>
                            </div>
                            <!-- <p class="prototype-block">Grid 1.3</p> -->
                        </div>

                    </div>

                </div>

                <div class="grid__item  one-half  palm--one-whole">

                    <div class="grid">

                        <div class="grid__item  one-half">
                            <div class="card card-minimal">
                                <div class="card__title"><h4>Grid 2.1</h4></div>
                                <div class="card__content">Content</div>
                            </div>
                        </div>

                        <div class="grid__item  one-half">
                            <div class="card card-minimal">
                                <div class="card__title-alt"><h4>Grid 2.1</h4></div>
                                <div class="card__content">Content - Title intended for white background</div>
                            </div>
                        </div>

                        <div class="grid__item  one-half">
                            <div class="card card-shadow-frame card--no-border">
                                <div class="card__title"><h4>Grid 2.2</h4></div>
                                <div class="card__content">Content</div>
                            </div>
                        </div>

                        <div class="grid__item  lap--one-half  desk--one-third">
                            <div class="card card-shadow">Grid 2.3</div>
                        </div>

                        <div class="grid__item  lap--one-half  desk--one-third">
                            <div class="card card-shadow">Grid 2.4</div>
                        </div>

                        <div class="grid__item  desk--one-third">
                            <div class="card card-shadow">Grid 2.5</div>
                        </div>

                    </div>

                </div>

                <div class="grid__item  one-whole  desk--one-half">
                    <div class="card card-shadow-frame">
                        <div class="card__title"><h4>Grid 3.0</h4></div>
                        <div class="card__section">
                            <div class="card__content">Content</div>
                        </div>
                        <div class="card__section-alt">
                            <div class="card__content">Content</div>
                        </div>
                        <div class="card__section">
                            <div class="card__content">Content</div>
                        </div>
                        <div class="card__section-alt">
                            <div class="card__content">Content</div>
                        </div>
                    </div>
                </div>

                <div class="grid__item  one-whole desk--one-half palm--one-whole">

                    <div class="grid  grid--rev">

                        <div class="grid__item  one-half  palm--two-fifths">
                            {# <p class="prototype-block">Grid 4.1</p> #}
                            <div class="card card-flat card--border-dashed">
                                <p>card-flat --border-dashed</p>
                            </div>
                        </div>

                        <div class="grid__item  one-half  palm--two-fifths">
                            <div class="card card-flat-alt">
                                <p>card-flat-alt</p>
                            </div>
                            {# <p class="prototype-block">Grid 4.2</p> #}
                        </div>

                    </div>

                </div>

                <div class="grid__item">

                    <div class="grid  grid--full">

                        <div class="grid__item  palm--one-half  lap--one-half  desk--one-quarter">
                            <p class="prototype-block">Grid 5.1</p>
                        </div>

                        <div class="grid__item  palm--one-half  lap--one-half  desk--one-quarter">
                            <p class="prototype-block">Grid 5.2</p>
                        </div>

                        <div class="grid__item  palm--three-fifths  lap--one-quarter  desk--one-quarter  push--lap--one-quarter">
                            <p class="prototype-block">Grid 5.3</p>
                        </div>

                        <div class="grid__item  palm--two-fifths  lap--one-quarter  desk--one-quarter  push--lap--one-quarter">
                            <p class="prototype-block">Grid 5.4</p>
                        </div>

                    </div>

                </div>

                <div class="grid__item">

                    <div class="grid  grid--rev  grid--full">

                        <div class="grid__item  palm--three-fifths  lap--one-quarter  desk--one-quarter">
                            <p class="prototype-block">Grid 6.1</p>
                        </div>

                        <div class="grid__item  palm--two-fifths  lap--one-quarter  desk--one-quarter  push--lap--one-half">
                            <p class="prototype-block">Grid 6.2</p>
                        </div>

                        <div class="grid__item  lap--one-whole  desk--one-quarter">
                            <p class="prototype-block">Grid 6.3</p>
                        </div>

                        <div class="grid__item  lap--one-half  desk--one-quarter  push--lap--one-quarter">
                            <p class="prototype-block">Grid 6.4</p>
                        </div>

                    </div>

                </div>

                <div class="grid__item">

                    <div class="grid  grid--center">

                        <div class="grid__item  one-third">
                            <p class="prototype-block">Grid 7.1</p>
                        </div>

                        <div class="grid__item  one-third">
                            <p class="prototype-block">Grid 7.2</p>
                        </div>

                    </div>

                </div>

                <div class="grid__item">

                    <div class="grid  grid--right">

                        <div class="grid__item  one-third">
                            <p class="prototype-block">Grid 8.1</p>
                        </div>

                        <div class="grid__item  one-third">
                            <p class="prototype-block">Grid 8.2</p>
                        </div>

                    </div>

                </div>

                <div class="grid__item">

                    <div class="grid">

                        <div class="grid__item  one-third">
                            <p class="prototype-block">Grid 9.1</p>
                        </div>

                        <div class="grid__item  one-third">
                            <p class="prototype-block">Grid 9.2</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

</div>

{% endblock %}