{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}
<div class="middle">
	<section>
		<div class="section-container">
			<div class="grid">
				<!-- Left block -->
				<div class="grid__item one-whole desk--one-quarter">
					<div class="card card-shadow-frame card--no-border">
						<div class="card__section user-details">
							<div class="grid">
								<div class="grid__item one-third lap--one-quarter desk--five-twelfths">
									<div class="user__image">
										<img class="user-thumb-circle user-thumb--black user-thumb--x3-large" src="/static/images/user-thumb-01.jpg" />
									</div>
								</div>
								<div class="grid__item two-thirds lap--three-quarter desk--seven-twelfths grid--narrow">
									<div class="card--vertical-pad">
										<div class="user__name">Mez Hopking</div>
										<div class="user__region">Auckland Region</div>
										<div class="user__membership">
											Yellow member since </br>
											January 2013
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-section">
							<div class="grid user-stats grid--full text--center ">
								<div class="grid__item one-quarter">
									<div class="user-stats__ratings">
										13 <i class="fa fa-star"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__photos">
										9 <i class="fa fa-camera"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__lists">
										1 <i class="fa fa-list"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__likes">
										23 <i class="fa fa-thumbs-up"></i>
									</div>
								</div>
							</div>
						</div>
						<ul class="dashboard-menu-items">
							<li>
								<a href="#">Dashboard</a>
								<ul>
									<li><a href="#">Reviews</a></li>
									<li><a class="active" href="#">Photos</a></li>
									<li><a href="#">Favourites</a></li>
									<li><a href="#">Businesses you may know</a></li>
								</ul>
							</li>
							<li><a href="#">Account settings</a></li>
							<li><a href="#">Edit Profile</a></li>
						</ul>
					</div>
				</div>
				<div class="grid__item one-whole desk--three-quarters">
					<div class="card card-shadow-frame card-shadow--border">
						<div class="card__title">
							<span class="epsilon"><i class="fa fa-camera"></i> Photos <span class="colour-grey-light">( 9 )</span></span>
						</div>
						<div class="card__section card__content">
							<div class="slider">
								<div class="slider-wrap">
								    <div class="slider-content">
								    	<div class="image-thumb-square">
										    <img src="/static/images/slide1.jpg" alt="Slide 1">
									        <div class="slider-description">
									        	<div class="review-feature review-feature--for-slider">
									        		<h6>Atomic Coffee Roasters</h6>
									        	    <div class="feature__content">
									        	        <div class="feature__comment ">
									        	        	Put simply, it's the best coffee you can buy in Auckland. Superb and Put simply, it's the best coffee you can buy in Auckland. Superb and...Put simply, it's the best coffee you can buy in Auckland. Superb and Put simply, it's the best coffee you can buy in... <a class="read__more" href="#">Read full review</a></div>
									        	        <div class="feature__comment-details">
									        	            <span class="feature__comment-score">5.0 <i class="fa fa-star"></i></span>
									        	            <span class="feature__comment-time">10 minutes ago</span>
									        	        </div>
									        	    </div>
									        	</div>
									        </div>
										</div>
									    <div class="image-thumb-square">
									        <img src="/static/images/slide1.jpg" alt="Slide 1">
									        <div class="slider-description">
									        	<div class="review-feature review-feature--for-slider">
									        		<h6>Atomic Coffee Roasters</h6>
									        	    <div class="feature__content">
									        	        <div class="feature__comment ">
									        	        	Put simply, it's the best coffee you can buy in Auckland. Superb and Put simply, it's the best coffee you can buy in Auckland. Superb and...Put simply, it's the best coffee you can buy in Auckland. Superb and Put simply, it's the best coffee you can buy in... <a class="read__more" href="#">Read full review</a></div>
									        	        <div class="feature__comment-details">
									        	            <span class="feature__comment-score">5.0 <i class="fa fa-star"></i></span>
									        	            <span class="feature__comment-time">10 minutes ago</span>
									        	        </div>
									        	    </div>
									        	</div>
									        </div>
									    </div> 
									    <div class="image-thumb-square">
									        <img src="/static/images/slide1.jpg" alt="Slide 1">
									        <div class="slider-description">
									        	<div class="review-feature review-feature--for-slider">
									        		<h6>Atomic Coffee Roasters</h6>
									        	    <div class="feature__content">
									        	        <div class="feature__comment ">
									        	        	Put simply, it's the best coffee you can buy in Auckland. Superb and Put simply, it's the best coffee you can buy in Auckland. Superb and...Put simply, it's the best coffee you can buy in Auckland. Superb and Put simply, it's the best coffee you can buy in... <a class="read__more" href="#">Read full review</a></div>
									        	        <div class="feature__comment-details">
									        	            <span class="feature__comment-score">5.0 <i class="fa fa-star"></i></span>
									        	            <span class="feature__comment-time">10 minutes ago</span>
									        	        </div>
									        	    </div>
									        	</div>
									        </div>
									    </div>
								    </div>
								    <div class="slider-arrows">
								        <a class="arrow-left"></a>
								        <a class="arrow-right"></a>
								    </div>
								</div>
							    <div class="slider-nav grid">
							        <div class=" grid__item one-eighth">
							        	<img class="image-thumb-square" src="/static/images/user-thumb-01.jpg" alt="Slide 1">
							        </div>
							        <div class=" grid__item one-eighth">
							        	<img class="image-thumb-square" src="/static/images/user-thumb-01.jpg" alt="Slide 1">
							        </div>
							        <div class=" grid__item one-eighth">
							        	<img class="image-thumb-square" src="/static/images/user-thumb-01.jpg" alt="Slide 1">
							        </div>
							        <div class=" grid__item one-eighth">
							        	<img class="image-thumb-square" src="/static/images/user-thumb-01.jpg" alt="Slide 1">
							        </div>
							        <div class=" grid__item one-eighth">
							        	<img class="image-thumb-square" src="/static/images/user-thumb-01.jpg" alt="Slide 1">
							        </div>
							        <div class=" grid__item one-eighth">
							        	<img class="image-thumb-square" src="/static/images/user-thumb-01.jpg" alt="Slide 1">
							        </div>
							        <div class=" grid__item one-eighth">
							        	<img class="image-thumb-square" src="/static/images/user-thumb-01.jpg" alt="Slide 1">
							        </div>
							        <div class=" grid__item one-eighth">
							        	<img class="image-thumb-square" src="/static/images/user-thumb-01.jpg" alt="Slide 1">
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}

{% block footer %}
<footer>
    {% include "footer_basic.html" %}
</footer>
{% endblock %}

{% block pagescripts %}{% compressed_js 'photos' %}{% endblock %}
