{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}


<div class="middle">

    <section>
        <div class="section-container">
            <div class="grid">
                <div class="grid__item one-whole">
                    <div class="grid">
                        <div class="grid__item one-whole desk--three-quarters dlp-business-detail"> {# business info / image #}
                            <div class="card card-shadow-frame card--no-border">
                                <div class="grid grid--full flexbox-portable">
                                    <div class="grid__item one-third lap--one-quarter desk--one-fifth dlp-business-image-rating flexbox-portable__item">
                                        <div class="card card__content-alt card--no-padding-palm card--no-margin card--border-right">
                                            <img class="dlp-business-logo" src="/static/images/business-logo-01.png" alt="">
                                            <div class="review-score review-score--horizontal">
                                                <div class="score__number">
                                                    3.9
                                                </div>
                                                <div class="score__stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                                <div class="score__reviews">
                                                    <span class="score__rev iews-number">5</span> reviews
                                                </div>
                                            </div>
                                            <div class="page-tools page-tools--dlp">
                                                <div class="grid grid--full">
                                                    <div class="grid__item one-whole desk--one-half">
                                                        <a href="#/listing/{listing_id}/save" class="ajax-button button button--muted button--small button--fill">
                                                            <i class="fa fa-heart fa-pad--right"></i><span>Save</span>
                                                        </a>
                                                    </div>
                                                    <div class="grid__item one-whole desk--one-half">
                                                        <a href="#" class="button button--muted button--small button--fill"><i class="fa fa-share-alt fa-pad--right"></i> Share</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__item two-thirds lap--three-quarters desk--four-fifths dlp-business-info">
                                        <div class="card card__content card--no-margin">
                                            <h1 class="business__title">Kokako Cafe and Coffee Roastery</h1>
                                            <em class="business__address">537 Great North Road, Grey Lynn, Auckland</em>
                                            <ul class="business__categories inline-list-block delimited--bar">
                                                <li><a href="#">Cafes</a></li>
                                                <li><a href="#">Coffee roastery</a></li>
                                                <li><a href="#">Flat whites</a></li>
                                            </ul>
                                            <div class="business__actions button-group button-group--spaced-2x button-group--responsive">
                                                <a href="#" class="button button--with-block-icon">Directions <i class="fa fa-fw fa-car"></i></a>
                                                <a href="#" class="button button--with-block-icon">Call <i class="fa fa-fw fa-phone"></i></a>
                                                <a href="#" class="button button--with-block-icon">Website <i class="fa fa-fw fa-globe"></i></a>
                                            </div>
                                            <div class="business__info-extra card card-flat-alt card--border-dashed card--no-margin">
                                                <div class="title-content-pair pair-seperator--colon">
                                                    <span class="pair__title">Hours</span>
                                                    <span class="pair__content">07:00 - 22:00 <strong class="is-business-open colour--positive">Open now</strong></span>
                                                </div>
                                                <div class="title-content-pair pair-seperator--colon">
                                                    <span class="pair__title">Credit cards</span>
                                                    <span class="pair__content">Yes</span>
                                                </div>
                                                <div class="title-content-pair pair-seperator--colon">
                                                    <span class="pair__title">Parking</span>
                                                    <span class="pair__content">Covered</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid__item one-whole desk--one-quarter dlp-map"> {# map #}
                            <div class="card card-shadow-frame card--border-thick">
                                <div class='embed-container'>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3190.6965340508386!2d174.8027926!3d-36.8976074!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d48ef0f099ad1%3A0xa19475b1099db912!2s604+Great+S+Rd%2C+Ellerslie%2C+Auckland+1051!5e0!3m2!1sen!2snz!4v1418603523051" width="600" height="450" frameborder="0" style="border:0"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                                                
                <div class="grid__item one-whole">
                    <div class="grid">

                        <div class="grid__item one-whole desk--three-quarters">
                            <div class="dlp-main card card-shadow-frame">


                                <div class="dlp-street-view">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2snz!4v1419282611376!6m8!1m7!1sKtMhxpqqHiL2RutaSnfl3Q!2m2!1d-36.89816209848883!2d174.8029950191317!3f30.300195585288257!4f-1.6214181172910571!5f0.7820865974627469" width="600" height="150" frameborder="0" style="border:0"></iframe> 
                                </div>


                                <div class="card__section">
                                    <div class="card__content">
                                        <h4>You might also like</h4>

                                        <ol class="search-results-list">

                                            <li class="search-results__item item--with-review"> {# LISTING WITH COMMENT #} {# STRUCTURAL DEFAULT || WITH ADDITIONAL COMMENT GRID ITEM #} 
                                                <div class="card card-shadow-frame card--no-border">
                                                    <div class="grid">
                                                        <div class="grid__item one-whole">
                                                            <div class="grid grid--full">
                                                                <div class="grid__item one-quarter lap--two-fifths desk--one-third business-score"> {# Palm, lap, desk breaks #}
                                                                    <div class="grid grid--full grid--rev"> {# Business score and image grid #}
                                                                        <div class="grid__item one-whole tablet-up--one-half"> 
                                                                            <div class="business-thumbnail image-container-background-linked"> {# Business image container #}
                                                                                <a href="#" style="background-image: url(/static/images/business-thumb-01.jpg);">
                                                                                    {# <img src="/static/images/business-thumb-01.jpg" alt=""> #}
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid__item one-whole tablet-up--one-half"> {# Business review score container #}
                                                                            <div class="review-score">
                                                                                <div class="score__number">
                                                                                    5.0
                                                                                </div>
                                                                                <div class="score__stars">
                                                                                    <i class="fa fa-star"></i>
                                                                                    <i class="fa fa-star"></i>
                                                                                    <i class="fa fa-star"></i>
                                                                                    <i class="fa fa-star"></i>
                                                                                    <i class="fa fa-star"></i>
                                                                                </div>
                                                                                <div class="score__reviews">
                                                                                    <span class="score__rev iews-number">187</span> reviews
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid__item three-quarters lap--three-fifths desk--two-thirds business-content"> {# Palm, lap, desk breaks #}
                                                                    <div class="grid grid--full"> {# Business details and CTAs grid #}
                                                                        <div class="grid__item one-whole tablet-up--one-half"> {# Business details container #}
                                                                            <div class="business-info card__content">
                                                                                <strong class="business__title"><a href="#"><span class="item-number">3.</span> Atomic Coffee Roasters</a></strong>
                                                                                <ul class="business__categories inline-list-block delimited--bar">
                                                                                    <li><a href="#">Cafes</a></li>
                                                                                    <li><a href="#">Coffee roastery</a></li>
                                                                                </ul>
                                                                                <em class="business__address">6-8 Vulcan Lane Auckland</em>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid__item one-whole tablet-up--one-half"> {# Business CTAs (buttons) #}
                                                                            <div class="business-call-to-actions card__content">
                                                                                <a href="#" class="cta__more-details arrow-chevron-right" alt="Follow link arrow"></a>
                                                                                <a href="#" class="cta__phone-us button button--circular button--title-text" title="Phone us"><i class="fa fa-phone fa-lg"></i></a>
                                                                                <a href="#" class="cta__website button button--circular button--title-text" title="Website"><i class="fa fa-globe fa-lg"></i></a>
                                                                                <a href="#" class="cta__directions button button--circular button--title-text" title="Directions"><i class="fa fa-location-arrow fa-lg"></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="grid__item one-whole"> {# N.B. ADDITONAL GRID ITEM FOR COMMENT #}
                                                            <div class="grid grid--full review-feature"> {# Featured review grid #}
                                                                <div class="grid__item one-quarter desk--one-eighth feature__user-thumb">
                                                                    <img class="image-thumb-circle image-thumb--medium" src="/static/images/user-thumb-02.jpg" alt="">
                                                                </div>
                                                                <div class="grid__item three-quarters desk--seven-eighths feature__content">
                                                                    <div class="feature__comment">Some super awesome flat whites here. A real no-brainer eh! Pork loin pork venison, beef ribs biltong sausage pancetta andouille landjaeger chicken pastrami tenderloin brisket.</div>
                                                                    <div class="feature__comment-details">
                                                                        <div class="feature__comment-user"><a href="#">Ross T</a></div>
                                                                        <div class="feature__comment-score">5.0 <i class="fa fa-star"></i></div>
                                                                        <div class="feature__comment-time">10 minutes ago</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ol>

                                    </div>
                                </div>
                  

                                <div class="card__section-alt">
                                    <div class="card__content">
                                        <h4>Rate + Review</h4>
                                        <form method="post" action="/rate">
                                            <div class="grid">
                                                
                                                <div class="grid__item one-whole">
                                                    
                                                    <div class="grid">

                                                        <div class="dlp-rate">

                                                            <div class="grid__item one-eighth palm--one-third lap--one-sixth">

                                                                <div class="dlp-rate-avatar">
                                                                    <div class="avatar">
                                                                        <img class="image-thumb-circle image-thumb--medium" src="/static/images/user-thumb-02.jpg" alt="Ross T">
                                                                        <h6>Ross T</h6>
                                                                        <div>Auckland</div>
                                                                        <div class="count">41 reviews</div>
                                                                        <div class="count">28 contributions</div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="grid__item seven-eighths palm--two-thirds lap--five-sixths">
                                                                
                                                                <div class="dlp-rate-fields">
                                
                                                                    <div class="star-rater star-rater--2x" data-rating="-1">
                                                                        <input type="hidden" name="rating" value="-1">
                                                                    </div>

                                                                    <strong class="star-rater-text"></strong>

                                                                    <div class="image-upload">
                                                                        <label for="photo-input">
                                                                            <i class="fa fa-camera"></i>
                                                                        </label>
                                                                        <input id="photo-input" name="photo" type="file">
                                                                    </div>

                                                                    <div class="form-group form-group--arrow dlp-review-form__textarea">
                                                                        <textarea class="form-group__item" name="review"></textarea>
                                                                    </div>
                                                                    <div class="form-group dlp-review-form__title" style="display: none;">
                                                                        <label for="review__title">Headline for your review:</label>
                                                                        <input type="text" class="form-group__item" id="review__title">
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="grid__item one-whole">
                                                    <div class="grid">
                                                        <div class="grid__item palm--one-third lap--seven-tenths desk--eight-tenths">
                                                            &nbsp;
                                                        </div>

                                                        <div class="grid__item palm--two-thirds lap--three-tenths desk--two-tenths">
                                                            <div class="dlp-rate-button">
                                                                <a class="button button--fill button--with-block-icon">Post <i class="fa fa-fw fa-paper-plane"></i></a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="card__section">
                                    <div class="card__content dlp-ratings">
                                        <h4>Latest reviews</h4>
                                        
                                        <div class="grid">
                                            
                                            <div class="dlp-review">

                                                <div class="grid__item one-whole">

                                                    <div class="grid">

                                                        <div class="grid__item one-eighth palm--one-third lap--one-sixth">

                                                            <div class="avatar">
                                                                <img class="image-thumb-circle image-thumb--medium" src="/static/images/user-thumb-01.jpg" alt="Mez H">
                                                                <h6>Mez H</h6>
                                                                <div>Auckland</div>
                                                                <div class="count">9 reviews</div>
                                                                <div class="count">6 contributions</div>
                                                            </div>

                                                        </div>

                                                        <div class="grid__item seven-eighths palm--two-thirds lap--five-sixths">

                                                            <div class="dlp-review-body">

                                                                <i class="fa fa-quote-left"></i>

                                                                <div class="dlp-review-tools"><strong>80</strong> out of <strong>100</strong> users found this review helpful</div>
                                                                <p class="dlp-review-title lead">Great review title right here!</p>
                                                                <p class="dlp-review-comment">
                                                                    Sed nisl ex, convallis quis fringilla at, lobortis ac enim. Donec eu ex augue. Sed sed nulla suscipit, placerat est eu, molestie odio. Cras pulvinar tempus tempor.
                                                                </p>

                                                                <div class="dlp-review-tools dlp-review-tools--bottom">
                                                                    <strong>2.5</strong>
                                                                    <span class="stars">
                                                                        <i class="fa fa-star"></i>
                                                                    </span>
                                                                    <span class="review-timestamp">18 hours ago</span>
                                                                    <div class="review-helpful hide-me--palm">
                                                                         | <span class="title">Was this review helpful? </span>
                                                                        <a href="/">Yes</a> / <a href="/">No</a> | 
                                                                        <a href="/">Inappropriate</a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="dlp-review">

                                                <div class="grid__item one-whole">

                                                    <div class="grid">

                                                        <div class="grid__item one-eighth palm--one-third lap--one-sixth">

                                                            <div class="avatar">
                                                                <img class="image-thumb-circle image-thumb--medium" src="/static/images/user-thumb-01.jpg" alt="Mez H">
                                                                <h6>Mez H</h6>
                                                                <div>Auckland</div>
                                                                <div class="count">9 reviews</div>
                                                                <div class="count">6 contributions</div>
                                                            </div>

                                                        </div>

                                                        <div class="grid__item seven-eighths palm--two-thirds lap--five-sixths">

                                                            <div class="dlp-review-body">

                                                                <i class="fa fa-quote-left"></i>

                                                                <div class="dlp-review-tools"><strong>80</strong> out of <strong>100</strong> users found this review helpful</div>

                                                                <p class="dlp-review-title lead">Great review title right here!</p>
                                                                <p class="dlp-review-comment">
                                                                    Sed nisl ex, convallis quis fringilla at, lobortis ac enim. Donec eu ex augue. Sed sed nulla suscipit, placerat est eu, molestie odio. Cras pulvinar tempus tempor.
                                                                </p>

                                                                <div class="dlp-review-photo">
                                                                    <img src="/static/images/home-featured-business-04.jpg" alt="Photo">
                                                                </div>

                                                                <div class="dlp-review-tools dlp-review-tools--bottom">
                                                                    <strong>2.5</strong>
                                                                    <span class="stars">
                                                                        <i class="fa fa-star"></i>
                                                                    </span>
                                                                    <span class="review-timestamp">18 hours ago</span>
                                                                    <div class="review-helpful hide-me--palm">
                                                                         | <span class="title">Was this review helpful? </span>
                                                                        <a href="/">Yes</a> / <a href="/">No</a> | 
                                                                        <a href="/">Inappropriate</a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            
                                                        </div>

                                                    </div>

                                                </div>
                                                
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="grid__item one-whole desk--one-quarter">

                            <div class="card dlp-aside dlp-products">

                                <h6>Products and Services</h6>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td><strong>Products</strong></td>
                                            <td><div>Espresso Machines, Coffee Grinders, Coffee Machines, Tampers</div></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Drinks</strong></td>
                                            <td><div>Coffee, Espresso, Single Origin Tea, Hot Chocolate, Cappucino, Flat White</div></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Food</strong></td>
                                            <td><div>Cabinet, Breakfast, Lunch, Dinner, Sandwiches, Cakes, Vegetarian, Kosher, Halal</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="card dlp-aside">
                                <h6>Work here? <a href="/">Claim this business</a></h6>
                                <p>Make sure your information is up to date, and
                                    use our free tools to find new customers.</p>
                            </div>

                            <div class="card dlp-aside">
                                <h6><i class="fa fa-fw fa-cog fa-lg"></i> <a href="/">Edit business information</a></h6>
                            </div>

                            <div class="card dlp-aside">
                                <h6>Business heroes</h6>

                                <div class="dlp-biz-hero">
                                    <div class="avatar">
                                        <img class="image-thumb-circle image-thumb--medium" src="/static/images/user-thumb-01.jpg" alt="Mez H">
                                    </div>
                                    <div class="dlp-biz-hero-name">
                                        <strong>Mez H</strong>
                                        Added this business in December 2012
                                    </div>
                                </div>

                                <div class="dlp-biz-hero">
                                    <div class="avatar">
                                        <img class="image-thumb-circle image-thumb--medium" src="/static/images/user-thumb-02.jpg" alt="Ross T">
                                    </div>
                                    <div class="dlp-biz-hero-name">
                                        <strong>Ross T</strong>
                                        Added this business in December 2014
                                    </div>
                                </div>

                            </div>

                            <div class="card dlp-aside">
                                <h5>Popular articles</h5>

                                <div class="grid articles">
                                    <div class="grid__item one-half palm--one-whole desk--one-whole">
                                        <div class="card card__image image--article">
                                            <div class="article-date">
                                                <span class="date-day">5th</span>
                                                <span class="date-month">Dec</span>
                                            </div>
                                            <div class="article-title">
                                                <a href="#">New Zealand's top 10 beaches</a>
                                            </div>
                                            <a href="#"><img src="/static/images/article-thumb-01.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="grid__item one-half palm--one-whole desk--one-whole">
                                        <div class="card card__image image--article">
                                            <div class="article-date">
                                                <span class="date-day">5th</span>
                                                <span class="date-month">Dec</span>
                                            </div>
                                            <div class="article-title">
                                                <a href="#">New Zealand's top 10 beaches</a>
                                            </div>
                                            <a href="#">
                                                <img src="/static/images/article-thumb-02.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>

</div>

{% endblock %}

{% block pagescripts %}{% compressed_js 'dlp' %}{% endblock %}
