{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}

<div class="middle">

    <section class="section section-signup">
        <div class="section-container">
            
            <div class="signup">

                <h1>Reset Password</h1>

                <form>

                    <fieldset>

                        <div class="form-group">
                            <label>Email address</label>
                            <input class="form-group__item" type="text" name="email">  
                        </div>   

                        <div class="form-group">
                            <input type="submit" value="Reset" class="button button--fill">
                        </div>

                    </fieldset>    

                </form>

            </div>

        </div>
    </section>

</div>

{% endblock %}


{% block footer %}
<footer>
    {% include "footer_basic.html" %}
</footer>
{% endblock %}


{% block pagescripts %}

    {% include "login_signup_vendor_scripts.html" %}    

    {% compressed_js 'loginSignup' %}

{% endblock %}


 
