
{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block header %}
    {% include "disruptive_advert.html" %}
    {% include "header.html" %}
{% endblock %}

{% block content %}

    <div class="middle">
        <section class="section-hero-image hide-me--portable" style="background-image: url('/static/images/hero-image-02.jpg');">
            <div class="section-container">
                <div class="grid"> {# Featured geo-located business #}
                    <div class="grid__item five-twelfths">
                        <div class="hero__feature hero__feature--review">
                            <div class="grid">
                                <div class="grid__item one-quarter business-map">
                                    <a href="#"><img class="image-thumb-circle" src="https://maps.googleapis.com/maps/api/staticmap?center=-36.789961,174.772286&zoom=14&size=200x200" alt="Google map of business location"></a>
                                </div>
                                <div class="grid__item three-quarters business-detail">
                                    <h3 class="title"><a href="#">ARK Coffee Company, Takapuna</a></h3>
                                    <div class="review-feature">
                                        <div class="feature__content">
                                            <div class="feature__comment">Bought my usual of an espresso and a flat white to compare these two benchmark beverages. Put simply, it’s the best coffee you can buy in Auckland. Superb.</div>
                                            <div class="feature__comment-details">
                                                <div class="feature__comment-user"><a href="#">Robert Z</a></div>
                                                <div class="feature__comment-score">5.0 <i class="fa fa-star"></i></div>
                                                <div class="feature__comment-time">10 minutes ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section-colour section--collapse">
            <div class="section-container">
                <ul class="suggested-business-menu tabs-menu inline-list-block"> <!-- Tabs menu -->
                    <li><a href="#"><em class="fa-outline fa-outline--ring-large fa-outline--brand"><i class="fa fa-fw fa-coffee"></i></em> Cafes</a>  <!-- Tabs menu item -->
                    <li><a href="#"><em class="fa-outline fa-outline--ring-large fa-outline--brand"><i class="fa fa-fw fa-car"></i></em> Restaurants</a>
                    <li class="hide-me--palm"><a href="#"><em class="fa-outline fa-outline--ring-large fa-outline--brand"><i class="fa fa-fw fa-bomb"></i></em> Plumbers</a>
                    <li class="hide-me--palm hide-me--lap"><a href="#"><em class="fa-outline fa-outline--ring-large fa-outline--brand"><i class="fa fa-fw fa-institution"></i></em> Builders</a>
                    <li class="hide-me--palm hide-me--lap"><a href="#"><em class="fa-outline fa-outline--ring-large fa-outline--brand"><i class="fa fa-fw fa-dropbox"></i></em> Dentists</a>
                    <li class="hide-me--palm hide-me--lap"><a href="#"><em class="fa-outline fa-outline--ring-large fa-outline--brand"><i class="fa fa-fw fa-child"></i></em> Electricians</a> <!-- Where are the closing '</li>'s? see base/_inline-list.scss -->
                </ul>
            </div>
        </section>
        <section class="section-colour-alt">  
            <div class="section-container suggested-business-content tabs-content"> <!-- Tabs content -->
                <div class="grid tab-content__item">                                     <!-- Tabs content item -->
                    <div class="grid__item lap--one-half one-whole desk--one-quarter">
                        <div class="card card-shadow-frame card--no-border card--no-margin-desk">
                            <div class="card__section">
                                <div class="grid">
                                    <div class="grid__item three-tenths">
                                        <div class="review-score">
                                            <div class="score__number">
                                                3.9
                                            </div>
                                            <div class="score__stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                            <div class="score__reviews">
                                                <span class="score__reviews-number">5</span> reviews
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__item seven-tenths">
                                        <div class="business-info card--top-pad">
                                            <strong class="business__title"><a href="#">Atomic Coffee Roasters</a></strong>
                                            <ul class="business__categories inline-list-block delimited--bar">
                                                <li><a href="#">Cafes</a></li>
                                                <li><a href="#">Coffee roastery</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card__section-alt card__section--image">
                                <a href="#"><img src="/static/images/home-featured-business-01.jpg" alt=""></a>
                            </div>
                            <div class="card__section">
                                <div class="grid review-feature">
                                    <div class="grid__item three-tenths feature__user-thumb">
                                        <img class="image-thumb-circle image-thumb--small" src="/static/images/user-thumb-01.jpg" alt="">
                                    </div>
                                    <div class="grid__item seven-tenths feature__content">
                                        <div class="feature__comment">Put simply, it's the best coffee you can buy in Auckland. Superb and...</div>
                                        <div class="feature__comment-details">
                                            <div class="feature__comment-user"><a href="#">Robert Z</a></div>
                                            <div class="feature__comment-score">5.0 <i class="fa fa-star"></i></div>
                                            <div class="feature__comment-time">10 minutes ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__item lap--one-half one-whole desk--one-quarter">
                        <div class="card card-shadow-frame card--no-border card--no-margin-desk">
                            <div class="card__section">
                                <div class="grid">
                                    <div class="grid__item three-tenths">
                                        <div class="review-score">
                                            <div class="score__number">
                                                3.9
                                            </div>
                                            <div class="score__stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                            <div class="score__reviews">
                                                <span class="score__reviews-number">5</span> reviews
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__item seven-tenths">
                                        <div class="business-info card--top-pad">
                                            <strong class="business__title"><a href="#">Atomic Coffee Roasters</a></strong>
                                            <ul class="business__categories inline-list-block delimited--bar">
                                                <li><a href="#">Cafes</a></li>
                                                <li><a href="#">Coffee roastery</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card__section-alt card__section--image">
                                <a href="#"><img src="/static/images/home-featured-business-02.jpg" alt=""></a>
                            </div>
                            <div class="card__section">
                                <div class="grid review-feature">
                                    <div class="grid__item three-tenths feature__user-thumb">
                                        <img class="image-thumb-circle image-thumb--small" src="/static/images/user-thumb-01.jpg" alt="">
                                    </div>
                                    <div class="grid__item seven-tenths feature__content">
                                        <div class="feature__comment">Put simply, it's the best coffee you can buy in Auckland. Superb and...</div>
                                        <div class="feature__comment-details">
                                            <div class="feature__comment-user"><a href="#">Robert Z</a></div>
                                            <div class="feature__comment-score">5.0 <i class="fa fa-star"></i></div>
                                            <div class="feature__comment-time">10 minutes ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__item lap--one-half one-whole desk--one-quarter">
                        <div class="card card-shadow-frame card--no-border card--no-margin-desk">
                            <div class="card__section">
                                <div class="grid">
                                    <div class="grid__item three-tenths">
                                        <div class="review-score">
                                            <div class="score__number">
                                                3.9
                                            </div>
                                            <div class="score__stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                            <div class="score__reviews">
                                                <span class="score__reviews-number">5</span> reviews
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__item seven-tenths">
                                        <div class="business-info card--top-pad">
                                            <strong class="business__title"><a href="#">Atomic Coffee Roasters</a></strong>
                                            <ul class="business__categories inline-list-block delimited--bar">
                                                <li><a href="#">Cafes</a></li>
                                                <li><a href="#">Coffee roastery</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card__section-alt card__section--image">
                                <a href="#"><img src="/static/images/home-featured-business-03.jpg" alt=""></a>
                            </div>
                            <div class="card__section">
                                <div class="grid review-feature">
                                    <div class="grid__item three-tenths feature__user-thumb">
                                        <img class="image-thumb-circle image-thumb--small" src="/static/images/user-thumb-01.jpg" alt="">
                                    </div>
                                    <div class="grid__item seven-tenths feature__content">
                                        <div class="feature__comment">Put simply, it's the best coffee you can buy in Auckland. Superb and...</div>
                                        <div class="feature__comment-details">
                                            <div class="feature__comment-user"><a href="#">Robert Z</a></div>
                                            <div class="feature__comment-score">5.0 <i class="fa fa-star"></i></div>
                                            <div class="feature__comment-time">10 minutes ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__item lap--one-half one-whole desk--one-quarter">
                        <div class="card card-shadow-frame card--no-border card--no-margin-desk">
                            <div class="card__section">
                                <div class="grid">
                                    <div class="grid__item three-tenths">
                                        <div class="review-score">
                                            <div class="score__number">
                                                3.9
                                            </div>
                                            <div class="score__stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                            <div class="score__reviews">
                                                <span class="score__reviews-number">5</span> reviews
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__item seven-tenths">
                                        <div class="business-info card--top-pad">
                                            <strong class="business__title"><a href="#">Atomic Coffee Roasters</a></strong>
                                            <ul class="business__categories inline-list-block delimited--bar">
                                                <li><a href="#">Cafes</a></li>
                                                <li><a href="#">Coffee roastery</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card__section-alt card__section--image">
                                <a href="#"><img src="/static/images/home-featured-business-04.jpg" alt=""></a>
                            </div>
                            <div class="card__section">
                                <div class="grid review-feature">
                                    <div class="grid__item three-tenths feature__user-thumb">
                                        <img class="image-thumb-circle image-thumb--small" src="/static/images/user-thumb-01.jpg" alt="">
                                    </div>
                                    <div class="grid__item seven-tenths feature__content">
                                        <div class="feature__comment">Put simply, it's the best coffee you can buy in Auckland. Superb and...</div>
                                        <div class="feature__comment-details">
                                            <div class="feature__comment-user"><a href="#">Robert Z</a></div>
                                            <div class="feature__comment-score">5.0 <i class="fa fa-star"></i></div>
                                            <div class="feature__comment-time">10 minutes ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="see-all see-all--tab-alt right">
                        <a href="#" class="">View all businesses <i class="fa fa-chevron-right fa-pad--left"></i></a>
                    </div>
                </div>

                <div class="grid tab-content__item">               <!-- Tabs content item -->
                    <div class="grid__item lap--one-half one-whole desk--one-quarter">
                        <div class="card card-shadow-frame">
                            item 01 b
                        </div>
                    </div>
                    <div class="grid__item lap--one-half one-whole desk--one-quarter">
                        <div class="card card-shadow-frame">
                            item 02 b
                        </div>
                    </div>
                    <div class="grid__item lap--one-half one-whole desk--one-quarter">
                        <div class="card card-shadow-frame">
                            item 03 b
                        </div>
                    </div>
                    <div class="grid__item lap--one-half one-whole desk--one-quarter">
                        <div class="card card-shadow-frame">
                            item 04 b
                        </div>
                    </div>
                </div>
                <div class="grid tab-content__item"></div>
                <div class="grid tab-content__item"></div>
                <div class="grid tab-content__item"></div>
                <div class="grid tab-content__item"></div>
            </div>
        </section>
        <section>  
            <div class="section-container">
            <h2 class="strike-through strike-through--left homepage-title"><span>Popular articles and interviews</span></h2>
                <div class="grid articles">
                    <div class="grid__item one-whole lap--one-half desk--one-quarter">
                        <div class="card card__image image--article">
                            <div class="article-date">
                                <span class="date-day">5th</span>
                                <span class="date-month">Dec</span>
                            </div>
                            <div class="article-title">
                                <a href="#">New Zealand's top 10 beaches</a>
                            </div>
                            <a href="#"><img src="/static/images/article-thumb-01.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="grid__item one-whole lap--one-half desk--one-quarter">
                        <div class="card card__image image--article">
                            <div class="article-date">
                                <span class="date-day">5th</span>
                                <span class="date-month">Dec</span>
                            </div>
                            <div class="article-title">
                                <a href="#">New Zealand's top 10 beaches</a>
                            </div>
                            <a href="#">
                                <img src="/static/images/article-thumb-02.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="grid__item one-whole lap--one-half desk--one-quarter">
                        <div class="card card__image image--article">
                            <div class="article-date">
                                <span class="date-day">5th</span>
                                <span class="date-month">Dec</span>
                            </div>
                            <div class="article-title">
                                <a href="#">New Zealand's top 10 beaches</a>
                            </div>
                            <a href="#">
                                <img src="/static/images/article-thumb-03.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="grid__item one-whole lap--one-half desk--one-quarter">
                        <div class="card card__image image--article">
                            <div class="article-date">
                                <span class="date-day">5th</span>
                                <span class="date-month">Dec</span>
                            </div>
                            <div class="article-title">
                                <a href="#">New Zealand's top 10 beaches</a>
                            </div>
                            <a href="#">
                                <img src="/static/images/article-thumb-04.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid">
                    <div class="grid__item one-whole desk--one-half">
                        <div class="card card__image image--article">
                            <div class="article-date">
                                <span class="date-day">5th</span>
                                <span class="date-month">Dec</span>
                            </div>
                            <div class="article-title">
                                <a href="#">New Zealand's top 10 beaches</a>
                            </div>
                            <a href="#">
                                <img src="/static/images/article-thumb-07.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="grid__item one-whole lap--one-half desk--one-quarter">
                        <div class="card card__image image--article">
                            <div class="article-date">
                                <span class="date-day">5th</span>
                                <span class="date-month">Dec</span>
                            </div>
                            <div class="article-title">
                                <a href="#">New Zealand's top 10 beaches</a>
                            </div>
                            <a href="#">
                                <img src="/static/images/article-thumb-05.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="grid__item one-whole lap--one-half desk--one-quarter">
                        <div class="card card__image image--article">
                            <div class="article-date">
                                <span class="date-day">5th</span>
                                <span class="date-month">Dec</span>
                            </div>
                            <div class="article-title">
                                <a href="#">New Zealand's top 10 beaches</a>
                            </div>
                            <a href="#">
                                <img src="/static/images/article-thumb-06.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="see-all see-all--tab right">
                        <a href="#" class="">View all articles <i class="fa fa-chevron-right fa-pad--left"></i></a>
                    </div>
                </div>
                <hr class="rule rule--thicker rule--ornament" data-ornament="X">
            </div>
        </section>
    </div>

{% endblock %}

{% block pagescripts %}{% compressed_js 'homepage' %}{% endblock %}
