{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}

<div class="middle">

    <section class="section section-signup">
        <div class="section-container">
            
            <div class="signup">

                <h1>Log in to Yellow</h1>

                <form>

                    <fieldset>

                        <div class="form-group">
                            <a href="#" class="button--facebook">
                                <i class="fa fa-facebook"></i> 
                                Log in with Facebook
                            </a>
                        </div>

                        <div class="form-group">
                            <a href="#" class="button--google">
                                <i class="fa fa-google"></i> 
                                Log in with Google+
                            </a>
                        </div>

                        <p class="sub">Don't worry, we never post without your permission</p>

                    </fieldset>    


                    <div class="divider-dotted"><b>OR</b></div>


                    <fieldset>

                        <h5>Log in with email</h5>

                        <div class="form-group">
                            <label>Email address</label>
                            <input class="form-group__item" type="text" name="email">  
                        </div>  

                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-group__item" type="password" name="pwd">  
                        </div>  

                        <div class="form-group">
                            <input type="submit" value="Log in" class="button button--fill">
                        </div>

                        <p class="cta"><a href="/signup">Sign up for Yellow</a></p>

                        <p class="cta"><a href="/password-reset">Forgot your password?</a></p>

                    </fieldset>    

                </form>

            </div>

        </div>
    </section>

</div>

{% endblock %}


{% block footer %}
<footer>
    {% include "footer_basic.html" %}
</footer>
{% endblock %}


{% block pagescripts %}

    {% include "login_signup_vendor_scripts.html" %}    

    {% compressed_js 'loginSignup' %}

{% endblock %}


 
