{% extends 'base.html' %}

{% block content %}

<div id="js-playground">



    <h1>js playground</h1>



    <h3>Tabs</h3>

    <div class="tabs">

        <div class="tabs-menu">
            <div>A</div>
            <div>B</div>
            <div>C</div>
            <div>D</div>
        </div>

        <div class="tabs-content">
            <div>Tab A</div>
            <div>Tab B</div>
            <div>Tab C</div>
            <div>Tab D</div>
        </div>

    </div>



    <h3>Slider</h3>

    <div class="slider">

        <div class="slider-content">
            <img src="/static/images/slide1.jpg" alt="Slide 1">
            <img src="/static/images/slide2.jpg" alt="Slide 2">
            <img src="/static/images/slide3.gif" alt="Slide 3">
            <img src="/static/images/slide4.jpg" alt="Slide 4">
        </div>

        <div class="slider-arrows">
            <div>&#9664;</div>
            <div>&#9654;</div>
        </div>

        <div class="slider-nav">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
        </div>

    </div>



    <div class="slider">

        <div class="slider-content">
            <img src="/static/images/slide1.jpg" alt="Slide 1">
        </div>

        <div class="slider-arrows">
            <div>&#9664;</div>
            <div>&#9654;</div>
        </div>

        <div class="slider-nav">
            <div>1</div>
        </div>

    </div>



    <h3>Equalize height</h3>

    <p>Consider using a table instead, where suitable</p>

    <div class="eq-height-max">
        <div class="eq-item">iwej pfoij wefopij fwe jf</div>
        <div class="eq-item">iip weuh rgiu hwe pgiuhw epiguh wpeiu ghp eiug piwue hgpi ewu rh ipuw hpwerg</div>
        <div class="eq-item">iwejfo iwje fpoi jw ofpij wpog ijeo pirg jepoirgj peoi gjp oeij</div>
    </div>



    <h3>Popout</h3>

    <div class="popout-link">
        popout
    </div>

    <div class="popout-content">
        content
    </div>



    <h3>Maps</h3>

    <div id="map-container"></div>


</div>


{% endblock %}


{% block pagescripts %}

<script>
$(function () {

    Yellow.slider('.slider');

});
</script>

{% endblock %}

