{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}
<div class="middle">
	<section>
		<div class="section-container">
			<div class="grid">
				<div class="grid__item one-whole desk--one-quarter column-menu">
					<div class="card card-shadow-frame card--no-border">
						<div class="card__section user-details">
							<div class="user__image">
								<img class="image-thumb-circle image-thumb--black image-thumb--x3-large" src="/static/images/user-thumb-01.jpg" />
							</div>
							<div class="user__info card--vertical-pad">
								<div class="user__name">Mez Hopking</div>
								<div class="user__region">Auckland Region</div>
								<div class="user__membership">
									Yellow member since </br>
									January 2013
								</div>
							</div>
						</div>
						<div class="card-section">
							<div class="grid user-stats grid--full text--center ">
								<div class="grid__item one-quarter">
									<div class="user-stats__ratings">
										13 <i class="fa fa-star"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__photos">
										9 <i class="fa fa-camera"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__lists">
										1 <i class="fa fa-list"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__likes">
										23 <i class="fa fa-thumbs-up"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card card-shadow-frame card--no-border">
						<ul class="dashboard-menu-items">
							<li>
								<a href="#">Dashboard</a>
								<ul>
									<li><a href="#">Quotes <span class="colour-grey right"><b>( 2 )</b></span></a></li>
									<li><a href="#">Reviews</a></li>
									<li><a href="#">Photos</a></li>
									<li><a href="#">Favourites</a></li>
									<li><a href="#">Businesses you may know</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Account</a>
								<ul>
									<li><a href="#">Details</a></li>
									<li><a class="active" href="#">Password</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="grid__item one-whole desk--three-quarters">
					<div class="card card-shadow-frame card-shadow--border">
						<div class="card__title">
							<span class="epsilon"><i class="fa fa-key"></i> Change Password</span>
						</div>
						<div class="card__section card__content">
			                <form>

			                    <fieldset>
									<div class="grid">
										<div class="form-group grid__item one-whole">
											<p class="push-half--bottom">Use the form below to change the password for your Yellow account. Use the new password next time you log in.</p>
										</div>

										<div class="form-group grid__item one-whole desk--one-whole card--no-margin">
											<div class="grid">
												<div class="form-group grid__item one-whole lap--one-half desk--one-half">
						                            <label>Current password</label>
						                            <input class="form-group__item" type="password" name="password">  
						                        </div>
						                        <div class="form-group grid__item one-whole desk--one-half">
				                            
				                        		</div> 
											</div>
				                        </div>

				                        <div class="form-group grid__item one-whole lap--one-half desk--one-half">
				                            <label>New password</label>
				                            <input class="form-group__item" type="password" name="new_password">  
				                        </div>  

				                        <div class="form-group grid__item one-whole lap--one-half desk--one-half">
				                            <label>Confirm password</label>
				                            <input class="form-group__item" type="password" name="confirm_password">  
				                        </div>  

									</div>
  
									<div class="form-group button-group button-group--spaced-2x">
										<a class="button button--positive"><i class="fa fa-check fa-pad--right"></i><b> Save</b> </a>
										<a class="button button--negative"><i class="fa fa-close fa-pad--right"></i><b> Cancel</b> </a>
										<br>
									</div>

			                    </fieldset>    

			                </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}

{% block footer %}
<footer>
    {% include "footer_basic.html" %}
</footer>
{% endblock %}

{% block pagescripts %}{% compressed_js 'dashboard' %}{% endblock %}
