{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}
<div class="middle">
    <section>
        <div class="section-container">

        <div class="content">

            <h1>Yellow® Terms of Use</h1>
            <p>By accessing any of our websites (each, the “Website”) you agree to be bound by these terms. Call us on 0800 803 803 if you have any questions about using the Website.</p>
            <h2>Your licence to use the Website</h2>
            <p>The Website is published by Yellow Pages Group Limited (“we”, “us” or “our”) and content in the Website is protected by copyright, trade mark and other laws. As between you and us, we own and retain all intellectual property rights in such content. We license you to use the Website on these terms:</p>
            <ul>
                <li>you may manually access the Website, and (where applicable) make a copy of the results of any searches made via the Website, and use those results, provided that no such access, copying or use is for the purpose or in the course of any business, or for the creation of your own database;</li>
                <li>all material you download or print must retain any trade marks and copyright notices as they appear on the Website;</li>
                <li>apart from using the Website under this licence or any fair dealing under the Copyright Act 1994, no material from the Website may be searched, printed, downloaded, copied, republished or distributed in any way without our prior written permission;</li>
                <li>you will not submit queries to the Website for the purpose of obtaining information about the Website, its ontology, structure or contents; and</li>
                <li>you will not use the Website or any of its content in any manner which is, or is likely to be, in breach of any law, or damaging or disruptive to the Website or any other website.</li>
            </ul>
            <p>We may (in addition to our other rights) suspend or terminate your access to the Website at any time, without notice, for any reason or no reason at all. To discuss having your access reinstated, please contact us on 0800 803 803.</p>
            <p>We reserve the right to prohibit links to the Website and you agree to remove any link or cease linking to the Website upon our request. You may not frame any part of the Website, including with any advertising or other revenue generating material.</p>
            <h2>Automated searching by public search engines only</h2>
            <p>Automated searches may only be carried out by public search engines so as to index the Website. We may prohibit access by any search engine at any time.</p>
            <p>If you require a comprehensive list of New Zealand businesses for commercial or marketing purposes, we have other services which will better meet your needs. For information about these services, email us at <a class="target_blank" href="mailto:support@datamarket.co.nz">support@datamarket.co.nz </a>or call 0800 501 515.</p>
            <h2>Information provided by us</h2>
            <p>The Website may include information intended as a guide to assist you when making decisions about advertising. While all such information is supplied in good faith, we recommend you consult one of our Sales Representatives for more detail on 0800 803 803.</p>
            <h2>Information provided by advertisers</h2>
            <p>The Website may provide a facility for businesses to advertise their products and services online. Some of such advertisements are maintained electronically by the advertisers themselves or other third parties without our involvement and some have links to advertisers' own websites.</p>
            <p>If you are an advertiser on the Website, these terms apply to you in addition to our <a href="http://www.ypg.co.nz/about-yellow/terms-business/" title="Terms of Business">Terms of Business</a>. Where you advertise on the Website, you will ensure that the information contained in the advertisement is true, accurate and correct for the period it remains on the Website. To the extent of any inconsistency between these terms and the Terms of Business, these terms prevail in relation to your use of the Website.</p>
            <p>Although we ask advertisers to make sure their advertisements on the Website and on their own linked websites are accurate, we are not responsible for checking them and make no representation about the accuracy or truth of any advertisement or content within the advertisement.</p>
            <p>Please use caution and common sense when using the Website and advertisers' linked websites. Material included by advertisers may be inappropriate or offensive. Parents may wish to obtain commercially available software to help limit access by children to such material.</p>
            <h2>Your dealings with advertisers</h2>
            <p>We are not the agent of any advertiser listed on the Website. We do not endorse advertisers or their products and services and have no control over the quality, safety, suitability, legality, availability or price of any product or service advertised on the Website. We are not involved, on behalf of either you or the advertiser, in any dealing resulting from your use of the Website. You must communicate and deal with advertisers directly to complete transactions or resolve problems arising from them.</p>
            <h2>User content</h2>
            <p>The Website may provide a facility for users to submit content, including but not limited to ratings and reviews of businesses and their products and services. You warrant that in submitting any content to us for inclusion in the Website:</p>
            <ul>
                <li>you own all rights, title and interest in and to such content</li>
                <li>such content does not contain anything that is, or may be considered to be, defamatory, offensive, false or misleading, harassing or threatening, a breach of any law, or a breach of any third party’s rights;</li>
                <li>the content otherwise complies with our guidelines; and</li>
                <li>such content does not contain any viruses or any kind of malicious code whatsoever.</li>
            </ul>
            <p>You irrevocably and unconditionally grant us an exclusive, worldwide, royalty-free, transferable, sub-licensable and irrevocable licence to use such content in any way as we see fit, including without limitation the right to use, copy, modify and publish such content (whether in whole or in part) in any format or medium currently known or developed in the future, and you waive all moral rights in such content. Moral rights means the rights of the author of a copyright work (including any right to be identified as the author of the work or to object to derogatory treatment of the work) in any jurisdiction.</p>
            <p>You acknowledge and accept that we may disclose your relevant personal information to any third party who claims that content submitted by you is a breach of their rights or of any law.</p>
            <p>Although we ask users to make sure that content submitted by them complies with these terms, we may (but have no obligation to) review, edit, withhold or remove any such content for any reason, or no reason at all. However, we are not responsible for checking such content and make no warranty or representation as to whether such content complies with these terms. You may report objectionable user content by <a href="http://help.yellow.co.nz/yellow/report-error/" title="Report an error">emailing us</a> or calling us on 0800 803 803.</p>
            <h2>Accounts</h2>
            <p>Certain Website services require you to register an account with us. You must provide us with current, complete and accurate information when applying for an account, and you agree to update your details should they subsequently change. We may reject any application for registration or suspend or terminate any account at any time, without notice, for any reason or no reason at all.</p>
            <p>Your account is for your sole, personal use. It is your responsibility to keep your account credentials secure, and you will be held liable for any activity undertaken with your credentials. If you think that your credentials have been compromised, you must notify us immediately by calling us on 0800 803 803.</p>
            <h2>Availability</h2>
            <p>We do not guarantee that access to the Website or any other service we provide via the Website will be continuous or fault-free. We may modify the Website, or withhold, suspend or restrict any service provided via the Website, at any time without notice. The Website is provided on an “as is” basis and Yellow makes no warranty that it will be free from viruses or any kind of malicious code whatsoever.</p>
            <h2>Exclusion of liability</h2>
            <p>To the fullest extent permitted by law, we exclude any liability we may have to you relating to your use of the Website, or its availability. This exclusion also applies for the benefit of each of our related companies, and all our officers, employees, contractors and agents (and those of our related companies). None of these people are liable to you or have to pay you for anything caused by or resulting from your use of the Website. This exclusion applies whatever you are claiming for and however liability arises or might arise if it were not for this clause.</p>
            <h2>Indemnity</h2>
            <p>You agree to release us from, and indemnify and hold us harmless against, all actions, claims, costs and expenses (including legal costs and expenses), losses, proceedings, damages, liabilities or demands suffered or incurred by us arising out of or in connection with your failure to comply with these terms , your breach of any warranty in these terms, your failure to complete a transaction, or your purchase and/or use of any product or service provided by any advertiser on the Website, including any actual or threatened claim in relation thereof; and you agree to co-operate with and assist us to the fullest extent practicable in respect of any such claim or threatened claim.</p>
            <h2>Privacy Policy</h2>
            <p>You acknowledge that you have read, understood and agree to our Privacy Policy. In the event of any conflict between these terms and the <a href="http://help.yellow.co.nz/yellow/privacy-policy/" title="Privacy Policy">Privacy Policy</a>, these terms prevail to the extent permitted at law.</p>
            <h2>Changing these terms</h2>
            <p>We may change these terms by adding, changing or removing terms at any time. Any change applies from the time it is published on our Website. You should check from time to time to see if these terms have changed.</p>
            <h2>Assignment</h2>
            <p>We may assign or otherwise transfer this agreement, or any of our rights, benefits or obligations under these terms or any other agreement with you, in whole or in part, to any related company or third party.</p>
            <h2>New Zealand law applies</h2>
            <p>The Website is located in New Zealand and all services we provide via the Website are provided in New Zealand under New Zealand law. You may take action against us only in a New Zealand court. This applies whether you are using the Website from inside or outside New Zealand.</p>
            </div>

        </div>
    </section>

</div>

{% endblock %}

{% block footer %}
<footer>
    {% include "footer.html" %}
</footer>
{% endblock %}

{% block pagescripts %}{% compressed_js 'dashboard' %}{% endblock %}
