{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}
<div class="middle">
	<section>
		<div class="section-container">
			<div class="grid quotes-business">
				<div class="grid__item one-whole desk--one-quarter column-menu">
					<div class="card card-shadow-frame card--no-border">						
						<div class="card__section user-details">
							<div class="user__image">
								<img class="image-thumb-circle image-thumb--black image-thumb--x3-large" src="/static/images/user-thumb-01.jpg" />
							</div>
							<div class="user__info card--vertical-pad">
								<div class="user__name">Mez Hopking</div>
								<div class="user__region">Auckland Region</div>
								<div class="user__membership">
									Yellow member since </br>
									January 2013
								</div>
							</div>
						</div>
						<div class="card-section">
							<div class="grid user-stats grid--full text--center ">
								<div class="grid__item one-quarter">
									<div class="user-stats__ratings">
										13 <i class="fa fa-star"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__photos">
										9 <i class="fa fa-camera"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__lists">
										1 <i class="fa fa-list"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__likes">
										23 <i class="fa fa-thumbs-up"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card card-shadow-frame card--no-border">
						<ul class="dashboard-menu-items">
							<li>
								<a href="#">Dashboard</a>
								<ul>
									<li><a class="active" href="#">Quotes</a></li>
									<li><a href="#">Reviews</a></li>
									<li><a href="#">Photos</a></li>
									<li><a href="#">Favourites</a></li>
									<li><a href="#">Businesses you may know</a></li>
								</ul>
							</li>
							<li><a href="#">Account settings</a></li>
							<li><a href="#">Edit Profile</a></li>
						</ul>
					</div>
				</div>
				<div class="grid__item one-whole desk--three-quarters column-content">
					<div class="card card-shadow-frame">
						<div class="grid">
							<div class="grid__item one-whole">
								<div class="card-minimal">
									<div class="card__title-dark card--border-bottom-thick">
											<i class="card__title-icon fa fa-comments"></i>
											<span class="card__title-triangle"></span>
										<span class="epsilon"> Quotes <span class="colour-grey-light">( 5 )</span> </span>
									</div>
									<div class="card__section quote-tabs">
										<div class="grid">
										    <div class="tabs-menu grid__item one-whole">
										    	<ul class="grid">
											        <li class="quotes-received grid__item palm-up--one-quarter desk--one-fifth">
											        	<a href="javascript:void()">
											        		<span class="amount">4</span> 
											        		<span class="title">Received</span>
											        	</a>
											        </li>
											       	<li class="quotes-pending grid__item palm-up--one-quarter desk--one-fifth">
											        	<a href="javascript:void()">
											        		<span class="amount">2</span> 
											        		<span class="title">Pending</span>
											        	</a>
											        </li>
											        <li class="quotes-accepted grid__item palm-up--one-quarter desk--one-fifth">
											        	<a href="javascript:void()">
											        		<span class="amount">6</span> 
											        		<span class="title">Accepted</span>
											        	</a>
											        </li>
													<li class="quotes-archived grid__item palm-up--one-quarter desk--one-fifth">
											        	<a href="javascript:void()">
											        		<span class="amount">2</span> 
											        		<span class="title">Archived</span>
											        	</a>
											        </li>
										    	</ul>
										    </div>
										    <div class="tabs-content grid__item one-whole">
										        <div class="quotes-received">
										        	<div class="card card-minimal card-shadow-frame card--blue-border">
										        		<div class="card__section card--padding-half">
										        			<div class="border--bottom-dashed card--bottom-half-pad card--margin-bottom">
											        			<div class="grid font--small ">
											        				<div class="grid__item one-whole palm-up--one-third desk--two-twelfths">
											        					<b>Clean my house</b>
											        				</div>
											        				<div class="grid__item one-whole palm-up--one-third desk--eight-twelfths">
											        					<b>Posted</b> <span class="colour-grey">12th of November 2014</span>
											        				</div>
											        			</div>
											        		</div>
															<div class="card__section user-details">
																<div class="user__image">
																	<img class="image-thumb-circle image-thumb--black image-thumb--x3-large" src="/static/images/user-thumb-02.jpg" />
																</div>
																<div class="user__info card--vertical-pad">
																	<div class="user__name">Ross Tulluch</div>
																	<div class="user__region">Auckland Region</div>
																	<div class="user__membership">
																		Yellow member since </br>
																		April 2014
																	</div>
																</div>
															</div>
															<div class="card--border-solid card--padding">
																<h4 class="text--half-margin">What I need?</h4>
																<p>What I need?</p>

																<h4 class="text--half-margin">How often is house cleaning required?</h4>
																<p>Hourly</p>
																
																<h4 class="text--half-margin">What kind of home do you have?</h4>
																<p>Mansion</p>
																
																<h4 class="text--half-margin">How many bedrooms?</h4>
																<p>9</p>
																
																<h4 class="text--half-margin">How many bathrooms?</h4>
																<p>14</p>
																
																<h4 class="text--half-margin">What else should the cleaner know?</h4>
																<ul class="icon-list">
																	<li><i class="fa fa-fw fa-check"></i>Fat cats and annoying neighbours</li>
																	<li><i class="fa fa-fw fa-check"></i>Flys, flying everywhere!! Help!!</li>
																</ul>
																<div class="divider-dotted"></div>
																
																<form class="quotes-form">
																	<div class="grid">
																		<div class="form-group grid__item palm--one-whole lap--five-twelfths desk--five-twelfths">
																			<label for="fixed-job">Fixed job price</label>
																			<input type="text" name="fixed-job" class="form-group__item" id="fixed-job">
																		</div>
																		<div class="form-group text-centre form-group--half-margin grid__item palm--one-whole lap--two-twelfths desk--two-twelfths">
																		<br class="hide-me--palm">
																			<b class="divider-circle">OR</b>
																		</div>
																		<div class="form-group grid__item palm--one-whole lap--five-twelfths desk--five-twelfths">
																			<label for="hr-rate">Hourly rate</label>
																			<input type="text" name="hr-rate" class="form-group__item" id="hr-rate">																			
																		</div>
																	</div>
																	<hr class="rule">
																	<div class="form-group">
																		<label for="message">Message to customer</label>
																		<textarea class="form-group__item" name="message" rows="5" id="message"></textarea>
																		<br>
																		<hr class="rule">
																	</div>
																	
																	<div class="form-group">
																		<p class="sub">By clicking "Send Quote" you agree to the <a href="#">terms of use</p>
																		<a class="button button--positive"><i class="fa fa-check fa-pad--right"></i><b> Send Quote</b> </a>
																		<a class="button button--negative"><i class="fa fa-close fa-pad--right"></i><b> Decline and Archive</b> </a>
																		<br>
																	</div>
																</form>
															</div>
										        		</div>
										        	</div>
										        </div>
										        <div class="quotes-pending">
										        </div>
										        <div class="quotes-accepted">
										        </div>
												<div class="quotes-archived">
										        </div>
										    </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}

{% block footer %}
<footer>
    {% include "footer_basic.html" %}
</footer>
{% endblock %}

{% block pagescripts %}{% compressed_js 'dashboard' %}{% endblock %}
