{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}

{% block content %}
<div class="middle">
	<section>
		<div class="section-container">
			<div class="grid">
				<div class="grid__item one-whole desk--one-quarter column-menu">
					<div class="card card-shadow-frame card--no-border">
						<div class="card__section user-details">
							<div class="user__image">
								<img class="image-thumb-circle image-thumb--black image-thumb--x3-large" src="/static/images/user-thumb-01.jpg" />
							</div>
							<div class="user__info card--vertical-pad">
								<div class="user__name">Mez Hopking</div>
								<div class="user__region">Auckland Region</div>
								<div class="user__membership">
									Yellow member since </br>
									January 2013
								</div>
							</div>
						</div>
						<div class="card-section">
							<div class="grid user-stats grid--full text--center ">
								<div class="grid__item one-quarter">
									<div class="user-stats__ratings">
										13 <i class="fa fa-star"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__photos">
										9 <i class="fa fa-camera"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__lists">
										1 <i class="fa fa-list"></i>
									</div>
								</div>
								<div class="grid__item one-quarter">
									<div class="user-stats__likes">
										23 <i class="fa fa-thumbs-up"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card card-shadow-frame card--no-border">
						<ul class="dashboard-menu-items">
							<li>
								<a href="#">Dashboard</a>
								<ul>
									<li><a class="active" href="#">Quotes</a></li>
									<li><a href="#">Reviews</a></li>
									<li><a href="#">Photos</a></li>
									<li><a href="#">Favourites</a></li>
									<li><a href="#">Businesses you may know</a></li>
								</ul>
							</li>
							<li><a href="#">Account settings</a></li>
							<li><a href="#">Edit Profile</a></li>
						</ul>
					</div>
				</div>
				<div class="grid__item one-whole desk--three-quarters column-content">
					<div class="card card-shadow-frame">
						<div class="grid">
							<div class="grid__item one-whole">
								<div class="card-minimal">
									<div class="card__title-dark card--border-bottom-thick">
											<i class="card__title-icon fa fa-comments"></i>
											<span class="card__title-triangle"></span>
										<span class="epsilon"> Quotes <span class="colour-grey-light">( 5 )</span> </span>
										<a class="see-all eta" href="#"><b>See all quotes </b>&nbsp;<i class="fa fa-angle-right fa-lg"></i></a>
									</div>
									<div class="card__section quote-tabs">
										<div class="grid">
										    <div class="tabs-menu grid__item one-whole">
										    	<ul class="grid">
											        <li class="quotes-received grid__item palm-up--one-quarter desk--one-fifth">
											        	<a href="javascript:void()">
											        		<span class="amount">4</span> 
											        		<span class="title">Received</span>
											        	</a>
											        </li>
													<li class="quotes-submitted grid__item palm-up--one-quarter desk--one-fifth">
											        	<a href="javascript:void()">
											        		<span class="amount">3</span> 
											        		<span class="title">Submitted</span>
											        	</a>
											        </li>
											        <li class="quotes-accepted grid__item palm-up--one-quarter desk--one-fifth">
											        	<a href="javascript:void()">
											        		<span class="amount">4</span> 
											        		<span class="title">Accepted</span>
											        	</a>
											        </li>
											       	<li class="quotes-archived grid__item palm-up--one-quarter desk--one-fifth">
											        	<a href="javascript:void()">
											        		<span class="amount">4</span> 
											        		<span class="title">Archived</span>
											        	</a>
											        </li>
										    	</ul>
										    </div>
										    <div class="tabs-content grid__item one-whole">
										        <div class="quotes-received">
										        	<div class="card card-minimal card-shadow-frame card--blue-border">
										        		<div class="card__section card--padding-half">
										        			<div class="border--bottom-dashed card--bottom-half-pad card--margin-bottom">
											        			<div class="grid font--small ">
											        				<div class="grid__item one-whole palm-up--one-third desk--two-twelfths">
											        					<b>Clean my house</b>
											        				</div>
											        				<div class="grid__item one-whole palm-up--two-thirds desk--ten-twelfths">
											        					<b>Posted</b> <span class="colour-grey">12th of November 2014</span>
																		<a class="button button--small button--red right" href="#"><i class="fa fa-times"></i> Cancel and Archive</a>
											        				</div>
											        			</div>
											        		</div>
											        		<ul class="accordion quotes-accordion">
											        			<li class="search-results__item accordion-part"> {# GOLD OR SILVER LISTING #} {# STRUCTURAL DEFAULT #}
											        			    <div class="card card-shadow-frame card--no-border">
											        			        <div class="grid">
											        			            <div class="grid__item one-whole accordion-head">
											        			                <div class="grid grid--full">
											        			                    <div class="grid__item one-quarter lap--two-fifths desk--one-third business-score"> {# Palm, lap, desk breaks #}
											        			                        <div class="grid grid--full grid--rev"> {# Business score and image grid #}
											        			                            <div class="grid__item one-whole palm-up--one-half"> 
											        			                                <div class="business-thumbnail image-container-background-linked"> {# Business image container #}
											        			                                    <a href="#" style="background-image: url(/static/images/business-thumb-02.jpg);">
											        			                                        {# <img src="/static/images/business-thumb-01.jpg" alt=""> #}
											        			                                    </a>
											        			                                </div>
											        			                            </div>
											        			                            <div class="grid__item one-whole palm-up--one-half"> {# Business review score container #}
											        			                                <div class="review-score">
											        			                                    <div class="score__number">
											        			                                        5.0
											        			                                    </div>
											        			                                    <div class="score__stars">
											        			                                        <i class="fa fa-star"></i>
											        			                                        <i class="fa fa-star"></i>
											        			                                        <i class="fa fa-star"></i>
											        			                                        <i class="fa fa-star"></i>
											        			                                        <i class="fa fa-star"></i>
											        			                                    </div>
											        			                                    <div class="score__reviews">
											        			                                        <span class="score__rev iews-number">187</span> reviews
											        			                                    </div>
											        			                                </div>
											        			                            </div>
											        			                        </div>
											        			                    </div>
											        			                    <div class="grid__item three-quarters lap--three-fifths desk--two-thirds business-content"> {# Palm, lap, desk breaks #}
											        			                        <div class="grid grid--full"> {# Business details and CTAs grid #}
											        			                            <div class="grid__item one-whole palm-up--one-half"> {# Business details container #}
											        			                                <div class="business-info card__content">
											        			                                    <strong class="business__title"><a href="#">Atomic Coffee Roasters</a></strong>
											        			                                    <div>Price range: <b>$300-450</b></div>
											        			                                    <div class="quote-status">Status: <span class="status--quotes-received">Received</span></div>
											        			                                </div>
											        			                            </div>
											        			                            <div class="grid__item one-whole palm-up--one-half"> {# Business CTAs (buttons) #}
											        			                                <div class="business-call-to-actions card__content">
											        			                                    <a href="#" class="cta__more-details arrow-chevron-right" alt="Follow link arrow"></a>
											        			                                </div>
											        			                            </div>
											        			                        </div>
											        			                    </div>
											        			                </div>
											        			            </div>
											        			            <div class="accordion-body grid__item one-whole">
											        			                Section B body
											        			            </div>
											        			        </div>
											        			    </div>
												        			
											        			</li>
											        			<li class="search-results__item accordion-part"> {# GOLD OR SILVER LISTING #} {# STRUCTURAL DEFAULT #}
											        			    <div class="card card-shadow-frame card--no-border">
											        			        <div class="grid">
											        			            <div class="grid__item one-whole accordion-head">
											        			                <div class="grid grid--full">
											        			                    <div class="grid__item one-quarter lap--two-fifths desk--one-third business-score"> {# Palm, lap, desk breaks #}
											        			                        <div class="grid grid--full grid--rev"> {# Business score and image grid #}
											        			                            <div class="grid__item one-whole palm-up--one-half"> 
											        			                                <div class="business-thumbnail image-container-background-linked"> {# Business image container #}
											        			                                    <a href="#" style="background-image: url(/static/images/business-thumb-02.jpg);">
											        			                                        {# <img src="/static/images/business-thumb-01.jpg" alt=""> #}
											        			                                    </a>
											        			                                </div>
											        			                            </div>
											        			                            <div class="grid__item one-whole palm-up--one-half"> {# Business review score container #}
											        			                                <div class="review-score">
											        			                                    <div class="score__number">
											        			                                        5.0
											        			                                    </div>
											        			                                    <div class="score__stars">
											        			                                        <i class="fa fa-star"></i>
											        			                                        <i class="fa fa-star"></i>
											        			                                        <i class="fa fa-star"></i>
											        			                                        <i class="fa fa-star"></i>
											        			                                        <i class="fa fa-star"></i>
											        			                                    </div>
											        			                                    <div class="score__reviews">
											        			                                        <span class="score__rev iews-number">187</span> reviews
											        			                                    </div>
											        			                                </div>
											        			                            </div>
											        			                        </div>
											        			                    </div>
											        			                    <div class="grid__item three-quarters lap--three-fifths desk--two-thirds business-content"> {# Palm, lap, desk breaks #}
											        			                        <div class="grid grid--full"> {# Business details and CTAs grid #}
											        			                            <div class="grid__item one-whole palm-up--one-half"> {# Business details container #}
											        			                                <div class="business-info card__content">
											        			                                    <strong class="business__title"><a href="#">Atomic Coffee Roasters</a></strong>
											        			                                    <div>Price range: <b>$300-450</b></div>
											        			                                    <div class="quote-status">Status: <span class="status--quotes-received">Received</span></div>
											        			                                </div>
											        			                            </div>
											        			                            <div class="grid__item one-whole palm-up--one-half"> {# Business CTAs (buttons) #}
											        			                                <div class="business-call-to-actions card__content">
											        			                                    <a href="#" class="cta__more-details arrow-chevron-right" alt="Follow link arrow"></a>
											        			                                </div>
											        			                            </div>
											        			                        </div>
											        			                    </div>
											        			                </div>
											        			            </div>
											        			            <div class="accordion-body grid__item one-whole quote-body">
											        			                <div class="card-flat">
											        			                	<h4 class="business__title larger--title">Atomic Coffee Roasters</h4>
											        			                	<ul class="business__categories inline-list-block delimited--bar">
											        			                	    <li><a href="#">Cafes</a></li>
											        			                	    <li><a href="#">Coffee roastery</a></li>
											        			                	</ul>
											        			                	<div class="card__section ">
											        			                	    <div class="soft--left review-feature">
											        			                	        <div class="feature__content">
											        			                	            <div class="feature__comment normal--size">
											        			                	            	Put simply, it's the best coffee you can buy in Auckland. Superb and Put simply, it's the best coffee you can buy in Auckland. Superb and...Put simply, it's the best coffee you can buy in Auckland. Superb and Put simply, it's the best coffee you can buy in Auckland. Superb and...</div>
											        			                	            <div class="feature__contact-details">
											        			                	                Please call me on <strong>021 223 3333</strong> or email me at <a href="mailto:someone@example.com?Subject=Hello%20again">ross@orchardfresh.co.nz</a>
											        			                	            </div>
											        			                	        </div>
											        			                	    </div>
											        			                	</div>
											        			                	<div class="card-flat">
												        			                	<div class="card__title ">
												        			                		<span class="epsilon"><i class=" fa fa-info-circle"></i> Service description </span>
												        			                	</div>
												        			                	<div class="card__section blue--section font--small card--margin-bottom">
												        			                		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
												        			                	</div>
												        			                	<div class="card__section">
												        			                		<div class="grid">
												        			                			<div class="grid__item desk--one-half">
												        			                				<!-- Reviews and photots -->
												        			                				<div class="card card--no-border">
												        			                					<div class="card-section card--bottom-half-pad">
												        			                						<div class="card__title">
												        			                							<span class="epsilon"><i class=" fa fa-star"></i> Reviews <span class="colour-grey-light">( 13 )</span> </span>
												        			                							<a class="float--right eta" href="#"><b>See all reviews </b>&nbsp;<i class="fa fa-angle-right fa-lg"></i></a>
												        			                						</div>
												        			                					</div>
												        			                					<!-- Review item starts-->
												        			                					<div class="card__section">
												        			                					    <div class="soft--left review-feature">
												        			                					    	<h5 class="card--margin-bottom">Atomic Coffee Roasters</h5>
												        			                					        <div class="feature__content">
												        			                					            <div class="feature__comment normal--size">
												        			                					            	Put simply, it's the best coffee you can buy in Auckland. Superb and Put simply, it's the best coffee you can buy in Auckland. Superb and...Put simply, it's the best coffee you can buy in Auckland.</div>
												        			                					            <div class="feature__comment-details">
												        			                					                <div class="feature__comment-user"><a href="#">Robert Z</a></div>
												        			                					                <div class="feature__comment-score">5.0 <i class="fa fa-star"></i></div>
												        			                					                <div class="feature__comment-time">10 minutes ago</div>
												        			                					            </div>
												        			                					        </div>
												        			                					    </div>
												        			                					</div>
												        			                					<!-- Review item ends -->
												        			                					<!-- Review item starts-->
												        			                					<div class="card__section">
												        			                					    <div class="soft--left review-feature">
												        			                					    	<h5 class="card--margin-bottom">Atomic Coffee Roasters</h5>
												        			                					        <div class="feature__content">
												        			                					            <div class="feature__comment normal--size">Put simply, it's the best coffee you can buy in Auckland. Superb and Put simply, it's the best coffee you can buy in Auckland. Superb and...</div>
												        			                					            <div class="feature__comment-details">
												        			                					                <div class="feature__comment-user"><a href="#">Robert Z</a></div>
												        			                					                <div class="feature__comment-score">5.0 <i class="fa fa-star"></i></div>
												        			                					                <div class="feature__comment-time">10 minutes ago</div>
												        			                					            </div>
												        			                					        </div>
												        			                					    </div>
												        			                					</div>
												        			                					<!-- Review item ends -->
												        			                				</div>
												        			                			</div>
												        			                			<div class="grid__item desk--one-half">
												        			                				<div class="card card--no-border">
												        			                					<div class="card__title">
												        			                						<span class="epsilon"><i class="fa fa-camera"></i> Photos <span class="colour-grey-light">( 9 )</span></span>
												        			                						<a class=" float--right eta" href="#"><b>See all photos</b> &nbsp;<i class="fa fa-angle-right fa-lg"></i></a>
												        			                					</div>
												        			                					<div class="card__section photo__list">
												        			                						<ul class="grid">
												        			                							<!-- Photo item starts -->
												        			                							<li class="grid__item one-quarter photo__item">
												        			                								<a href="#"><img class="image-thumb-square" src="/static/images/home-featured-business-03.jpg"></a>
												        			                							</li>
												        			                							<!-- Photo item ends -->
												        			                							<!-- Photo item starts -->
												        			                							<li class="grid__item one-quarter photo__item">
												        			                								<a href="#"><img class="image-thumb-square" src="/static/images/home-featured-business-03.jpg"></a>
												        			                							</li>
												        			                							<!-- Photo item ends -->
												        			                							<!-- Photo item starts -->
												        			                							<li class="grid__item one-quarter photo__item">
												        			                								<a href="#"><img class="image-thumb-square" src="/static/images/home-featured-business-03.jpg"></a>
												        			                							</li>
												        			                							<!-- Photo item ends -->
												        			                							<!-- Photo item starts -->
												        			                							<li class="grid__item one-quarter photo__item">
												        			                								<a href="#"><img class="image-thumb-square" src="/static/images/home-featured-business-03.jpg"></a>
												        			                							</li>
												        			                							<!-- Photo item ends -->
												        			                							<!-- Photo item starts -->
												        			                							<li class="grid__item one-quarter photo__item">
												        			                								<a href="#"><img class="image-thumb-square" src="/static/images/home-featured-business-03.jpg"></a>
												        			                							</li>
												        			                							<!-- Photo item ends -->
												        			                							<!-- Photo item starts -->
												        			                							<li class="grid__item one-quarter photo__item">
												        			                								<a href="#"><img class="image-thumb-square" src="/static/images/home-featured-business-03.jpg"></a>
												        			                							</li>
												        			                							<!-- Photo item ends -->
												        			                							<!-- Photo item starts -->
												        			                							<li class="grid__item one-quarter photo__item">
												        			                								<a href="#"><img class="image-thumb-square" src="/static/images/home-featured-business-03.jpg"></a>
												        			                							</li>
												        			                							<!-- Photo item ends --><!-- Photo item starts -->
												        			                							<li class="grid__item one-quarter photo__item">
												        			                								<a href="#"><img class="image-thumb-square" src="/static/images/home-featured-business-03.jpg"></a>
												        			                							</li>
												        			                							<!-- Photo item ends --><!-- Photo item starts -->
												        			                							<li class="grid__item one-quarter photo__item">
												        			                								<a href="#"><img class="image-thumb-square" src="/static/images/home-featured-business-03.jpg"></a>
												        			                							</li>
												        			                							<!-- Photo item ends -->
												        			                							<!-- Photo item starts -->
												        			                							<li class="grid__item one-quarter photo__item">
												        			                								<a href="#"><img class="image-thumb-square" src="/static/images/home-featured-business-03.jpg"></a>
												        			                							</li>
												        			                							<!-- Photo item ends -->
												        			                							<!-- Photo item starts -->
												        			                							<li class="grid__item one-quarter photo__item">
												        			                								<a href="#"><img class="image-thumb-square" src="/static/images/home-featured-business-03.jpg"></a>
												        			                							</li>
												        			                							<!-- Photo item ends -->
												        			                						</ul>
												        			                					</div>
												        			                				</div>
												        			                			</div>
												        			                		</div>
												        			                	</div>
												        			                	<div class="card__section quote__contact-form">
												        			                		<div class="card card--no-border card--title-dark">
												        			                			<div class="card__title border--thin">
												        			                				<span class="epsilon"><i class="fa fa-question-circle"></i> Accept this quote? </span>
												        			                			</div>
												        			                			<p class="epsilon card--margin-bottom ">How would you like to be contacted?</p>
												        			                			<div class="grid ">
												        			                				<div class="grid__item desk--five-twelfths palm-up--one-third one-whole">
												        			                					<div class="form-group">
																	                                        <label for="phone">Phone number</label>
																	                                        <input type="text" class="form-group__item" id="phone">
																	                                    </div>
												        			                				</div>
												        			                				<div class="text--center grid__item palm-up--one-third desk--two-twelfths one-whole or__circle">
												        			                					<span >
												        			                						OR
													        			                				</span>
												        			                				</div>
												        			                				<div class="grid__item desk--five-twelfths palm-up--one-third one-whole">
												        			                					<div class="form-group">
																	                                        <label for="phone">Email address</label>
																	                                        <input type="email" class="form-group__item" id="phone">
																	                                    </div>
												        			                				</div>
												        			                			</div>
												        			                		</div>
												        			                	</div>
												        			                </div>
											        			                </div>
											        			            </div>
											        			        </div>
											        			    </div>
											        			</li>
											        		</ul>
										        		</div>
										        	</div>
										        </div>
										        <div class="quotes-submitted">
										        </div>
										        <div class="quotes-accepted">
										        </div>
												<div class="quotes-archived">
										        </div>
										    </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}

{% block footer %}
<footer>
    {% include "footer_basic.html" %}
</footer>
{% endblock %}

{% block pagescripts %}{% compressed_js 'dashboard' %}{% endblock %}
