body {
	margin: 0 auto;
	max-width: $body-max-width;
	background-color: $body-background;
	color: $body-text;
}

%grid__container {
	margin: 0 auto;
	max-width: $grid-container-max-width;
}

.grid__container {
	@extend %grid__container;
}

// Sections

// Section vars
$section-padding: 		$base-line-height;

%section-base {
	margin: 0 auto;
	padding: $section-padding 0;
}

%section-with-white-text {
	color: $colour-white;
}

%section-with-bg-colour {
	background-color: $section-bg;
}

%section-with-border {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: transparent;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
}

.middle > section {
	@extend %section-base;
	> .section-container {
		@extend %grid__container;
	}
}

section.section-colour {
	@extend %section-with-bg-colour;
}

section.section-colour-border {
	@extend %section-with-bg-colour;
	@extend %section-with-border;
	border-color: $section-border;
}

section.section-border {
	@extend %section-with-border;
	border-color: $section-border;
}

section.section-colour-alt {
	background-color: $section-bg-alt;
}

section.section-colour-blue {
	@extend %section-with-white-text;
	background-color: $colour-blue;
}

section.section-colour-alt-border {
	@extend .section-colour-alt;
	@extend %section-with-border;
	border-color: $section-border-alt;
}