// SEARCH RESULTS TEMPLATE - please keep generic rules in their respective files
// ===============================================================================


// Vars
$search-results-padding:                $base-line-height;
$search-results-container:              $colour-white;
$search-results-container-shadow:       0px 2px 3px $colour-box-shadow;
$search-results-container-border:       1px solid rgba($colour-box-shadow, 0.8);
$search-results-container-opacity:      0.7;
$search-item-height-desktop:            86px;
$search-item-height-mobile:             $search-item-height-desktop;
$search-item-border-colour:             $card-title-border-default;
$search-item-platinum-bg:               $colour-blue-lightest-alt;
$platinum-messge:                       "Sponsored ad";


// Google map container. See map.js for view options.
#search-results-map {
    img {
        max-width: none;
    }

    @include media-query(desk) { // Desktop breakpoint shows the map
        width: 100%;
    }
    &.stick {
        position: fixed !important;
        top: 0;
    }
}



// Search results container
.search-results-container {
    position: relative;
    top: 0px;
    width: 100%;
    max-width: $breakpoint-desk; // Same as desktop breakpoint (full width until desktop kicks in).
    padding: $search-results-padding;
    z-index: 200;
    background: $search-results-container;
    @include media-query(desk) { // Desktop breakpoint shows the map
        position: absolute;
        width: 62%;
        min-height: 800px;
        background: rgba($search-results-container, $search-results-container-opacity);
        // box-shadow: $search-results-container-shadow;
        border-left: $search-results-container-border;
        border-right: $search-results-container-border;
        margin-left: -1px;
    }
    @include media-query(desk-wide) {
        width: 57%;
    }
}

// Search results list
.search-results-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Search results item
.search-results__item {
    .review-score {
        // max-height: $search-item-height-desktop; // Why?
    }

    .business-thumbnail { // Business image
        // max-height: $search-item-height-mobile; // Why?
        @include media-query(lap-up) {
            // max-height: $search-item-height-desktop; // Why?
        }
        > a {
            min-height: $search-item-height-mobile;
            border-right: 1px solid $search-item-border-colour;
            background-size: contain;
            background-position-y: inherit;
            @include media-query(lap-up) {
                // min-height: $search-item-height-desktop;
                // border-left: 1px solid $search-item-border-colour;
            }
        }
    }

    .business-content { // Business details / categories / CTAs
        .card__content {
            padding: ($search-results-padding / 2) ($search-results-padding);
        }

        .grid--business-info {
            // @extend %arrow-search-results !optional;
        }

        .business-info { // Title / categores / address // See _results.scss for base styles
            
        }

        .business-call-to-actions { // Phone, website / directions
            @include media-query(palm) {
                padding-top: 5px;
            }
            > .button {
                margin-right: 5px;
                margin-bottom: 5px;
            }
            .cta__more-details { // More info arrow >
                
                top: ($search-results-padding / 2);
                right: ($search-results-padding / 2);
                position: absolute;
                // @extend %arrow-chevron-img-container;
                @include media-query(desk) {
                    position: relative;
                    float: right;
                    top: 0;
                    right: 0;
                    margin: 5px -10px 5px 0;
                }
            }
        }
    }
}

// Item with review
.search-results__item.item--with-review {
    
    .business-content {
        // border-bottom: 1px solid $search-item-border-colour;
    }

    .review-feature {
        background-color: $review-score-box-bg; // Inherits from _reviews.scss
        padding: floor($search-results-padding / 1.3) ($search-results-padding / 2);
        .feature__content {
            .feature__comment {
                font-size: $h7-size;
            }
        }
    }
}

// Item platinum
.search-results__item.item--platinum {
    .card-shadow-frame {
        background-color: $search-item-platinum-bg;
    }
    .business-content {
        > .grid {
            &:after {
                content: "#{$platinum-messge}";
                float: right;
                font-size: 7.5px;
                margin-top: -12px;
                margin-right: 4px;
                opacity: 0.4;
                letter-spacing: 0.1em;
            }
        }
        .business-call-to-actions { // Phone, website / directions
            @include media-query(palm) {
                padding-bottom: 15px;
            }
        }
        .cta__more-details {
            @extend %arrow-chevron-right--platinum; // Change out bg img to align with platinum bg colour
        }
    }
}

// Item bronze 
.search-results__item.item--bronze {
    .business-score .review-score {
        max-height: inherit; // Allows the equaliseHeight.js to work (overrides prev max-height value)
    }
}

// Item free
.search-results__item.item--free {
    .business-call-to-actions {
        @include media-query(portable) {
            padding: 0;
        }
    }
}

// Item disruptive 
.search-results__item.item--disruptive {
    .business-call-to-actions {
        @include media-query(portable) {
            padding: 0;
        }
    }
    &:hover {
        .card-shadow-frame {
            background-color: $search-item-platinum-bg;
        }
        .business-content {
            .cta__more-details {
                @extend %arrow-chevron-right--platinum; // Change out bg img to align with platinum bg colour
            }
        }
    }
}









