// HOMEAGE TEMPLATE - please keep generic rules in their respective files
// ===============================================================================


// Vars
$business-title:                        $colour-black;
$suggested-business-menu-size:          $h5-size;
$suggested-business-menu-link:          $colour-charcoal;
$suggested-business-menu-link-active:   $colour-white;
$suggested-business-menu-icon:          $colour-charcoal;
$suggested-business-menu-icon-active:   $colour-white;
$suggested-business-menu-bg:            $colour-white;
$suggested-business-menu-border:        $colour-grey-lightest;
$suggested-business-menu-bg-hover:      $colour-grey-lighter;
$suggested-business-menu-bg-active:     $colour-grey-darker;
$suggested-business-menu-padding:       $base-line-height;

// Featured businesses
// Tabs-menu
.tabs-menu.suggested-business-menu {
    li {
        a {
            font-size: $suggested-business-menu-size;
            outline: none;
            color: $suggested-business-menu-link;
            padding: ($suggested-business-menu-padding / 2) ($suggested-business-menu-padding - 5);
            border-right: 1px solid $suggested-business-menu-border;
            em { // Icon ring
                i { // Icon colour
                    color: $suggested-business-menu-icon;
                }
            }
            &:hover {
                background-color: $suggested-business-menu-bg-hover;
                em {
                    border-color: $colour-grey;
                }
            }
        }
    }
    li.active { // Active tab
        a, a:hover {
            color: $suggested-business-menu-link-active;
            background-color: $suggested-business-menu-bg-active;
            @include arrow(bottom, left, $suggested-business-menu-bg-active, $suggested-business-menu-bg-active);
            &:before {
                left: 26px; // Arrow position (border start)
            }
            &:after {
                left: 28px; // Arrow position (bg colour start)
            }
            em { // Icon ring
                border-color: $fa-outline-brand;
                i { // Icon colour
                    color: $suggested-business-menu-icon-active;
                }
            }
        }
    }
}

// Featured buisnesses
// Tabs-content
.tabs-content.suggested-business-content {
    .card {
        .card__section--image {
            height: 100px;
            > img, a > img {
                margin-top: -15%;
                display: block;
            }
        }
    }
}
// Review score
.tabs-content.suggested-business-content {
    .review-score {
        

        .score__number {
            line-height: 1.2;
        }
    }
}

.tabs-content.suggested-business-content {
    .card--top-pad {
        padding: ($card-padding / 2) 0 0 0;
    }
    .business-info { // See _results.scss for base styles
    
    }
}



