@if $in-development == true {

// DEVELOPMENT OVERRIDES
// ===============================================================================

// a:visited {
// 	color: $colour-link;
// }

.prototype-block {
	background-color: #000;
	color: $brand-primary;
	padding: 18px;
}


} // end if