// ARROWS
// ===============================================================================

// See mixin in base/_mixins.scss

// Vars
$arrow-size:            $half-spacing-unit!default;
$arrow-border:          1!default;
$border:                $arrow-size;
$arrow:                 $arrow-size - $arrow-border;


%arrow{
    position:relative;
    z-index: 1;
    &:before,
    &:after{
        content:"";
        position:absolute;
        border-collapse:separate;
    }
    &:before{
        border:$border solid transparent;
    }
    &:after{
        border:$arrow solid transparent;
    }
}


// Define individual edges so we can combine what we need, when we need.
 
%arrow--top{
    @extend %arrow;

    &:before,
    &:after{
        bottom:100%;
    }
}

%arrow--upper{
    @extend %arrow;

    &:before{
        top:$arrow;
    }
    &:after{
        top:$border;
    }
}

%arrow--middle{
    @extend %arrow;

    &:before,
    &:after{
        top:50%;
        margin-top:-$border;
    }
    &:after{
        margin-top:-$arrow;
    }
}

%arrow--lower{
    @extend %arrow;

    &:before{
        bottom:$arrow;
    }
    &:after{
        bottom:$border;
    }
}

%arrow--bottom{
    @extend %arrow;

    &:before,
    &:after{
        top:100%;
    }
}

%arrow--near{
    @extend %arrow;

    &:before,
    &:after{
        right:100%;
    }
}

%arrow--left{
    @extend %arrow;

    &:before{
        left:$arrow;
    }
    &:after{
        left:$border;
    }
}

%arrow--center{
    @extend %arrow;

    &:before,
    &:after{
        left:50%;
        margin-left:-$border;
    }
    &:after{
        margin-left:-$arrow;
    }
}

%arrow--right{
    @extend %arrow;

    &:before{
        right:$arrow;
    }
    &:after{
        right:$border;
    }
}

%arrow--far{
    @extend %arrow;

    &:before,
    &:after{
        left:100%;
    }
}

// %arrow-search-results {
//     &:after {
//         content: url('/static/css/images/arrow-chevron-right.png');
//     }
// }


%arrow-base {
    display: block;
}

%arrow-chevron-right {
    background-image: url(images/arrow-chevron-right-bg.png);
}

%arrow-chevron-right--platinum {
    background-image: url(images/arrow-chevron-right-bg-platinum.png);
}

%arrow-chevron--inverted-transparency {
    @extend %arrow-base;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 59px;
    width: 25px;
    background-size: 25px 59px;
}

%arrow-chevron--inverted-transparency--default-colours { // Matches default link colours
    background-color: $colour-link;
    //@include vendor(transition, background-color 0.3s, background-color 0.3s);
    &:hover {
        background-color: $colour-link-hover;   
    }
    &:active {
        background-color: $colour-link-active;
        //@include vendor(transition, background-color 0.05s, background-color 0.05s);
    }
}

%arrow-chevron-img-container__img {
    > img {
        width: 25px;
    }
}

%arrow-chevron-img-container {
    @extend %arrow-base;
    @extend %arrow-chevron-img-container__img;
}

.arrow-chevron-right {
    @extend %arrow-chevron--inverted-transparency;
    @extend %arrow-chevron--inverted-transparency--default-colours;
    @extend %arrow-chevron-right;
}


