#map-container {
    width:      500px;
    height:     300px;
    border:     1px solid red;
}

.map-marker {

    position:   absolute; 
    left:       0px;
    top:        0px;

    span {
        position:   relative;
        display:    block;
        top:        -35px;
        left:       -13px;
        width:      26px;
        text-align: center;
        color:      #fff;
    }
}