
//VARS

$arrow-colour: $colour-yellow;

@mixin arrows {
    position:absolute;
    bottom: 50%;
    width: 33px;
    height: 52px;
    background-size: 100px 100px;
    @include media-query(tablet) {
        bottom: 70%;
    }
}
.slider {
    width: 100%;
    .slider-description {
        background: rgba(0,0,0,0.5);
        color: #fff !important;
        position: absolute;
        bottom: 10px;
        margin-right: 4px;
        @include media-query(tablet) {
            position: static;
             margin-right: 0px;
             background: #000;
        }
    }
    .slider-arrows {
        .arrow-left {
            left: 20px;
            background: url(../images/arrows.png) 3px 50px;
            @include arrows;
            &:hover {
                background-position: 67px 50px;
            }
        }
        .arrow-right {
            right: 20px;
            background: url(../images/arrows.png) 3px 2px;
            &:hover {
                background-position: 67px 2px;
            }
            @include arrows;
        }
    }
}

.slider-menu > *, .slider-arrows > *, .slider-nav > * {
    cursor: pointer;
}

.slider-menu > .active {
    font-weight: bold;
}

.slider-wrap {
            overflow: hidden;
            position: relative;
            height: 395px;
            @include media-query(lap) {
                height: 437px;
            }
            @include media-query(tablet) {
                height: 409px;
            }
            @include media-query(palm) {
                height: 400px;
            }
    .slider-content {
        overflow: hidden;
        >div {
            width: 100%;
        }
    }
}

.slider-frame {
    position: absolute;
    top: 0px;
    >div {
        @include media-query(lap) {
            //height: 350px;
        }
        position:relative;
    }
}
.slider-nav {
    padding-top: 10px;
}
.slider-nav > .active {
    font-weight: bold;
}
