					<div  class="card card-shadow-frame card-shadow">
						<div class="grid">
							<div ydash-quotes-mini class="grid__item one-whole"></div>
							
							<div ydash-reviews-mini reviews="reviews" class="grid__item desk--one-half"></div>
							<div ydash-photos-mini photos="photos" class="grid__item desk--one-half"></div>
							<div class="grid__item desk--one-full">
								<!-- Favourites -->
								<div ydash-favourites-mini class="card card--no-border dashboard-favourites"></div>
								
								<!-- Businesses -->
								<div ydash-businesses-mini class="card card--no-border dashboard-businesses"></div>
							</div>
						</div>
					</div>