<div class="card card-shadow-frame soft--bottom">
	<div class="card__title">
		<span class="epsilon"><i class="fa fa-key"></i> Change Password</span>
	</div>
	<div class="card__section card__content">
        <form>

            <fieldset>
				<div class="grid">
					<div class="form-group grid__item one-whole">
						<p class="push-half--bottom">Use the form below to change the password for your Yellow account. Use the new password next time you log in.</p>
					</div>

					<div class="form-group grid__item one-whole desk--one-whole card--no-margin">
						<div class="grid">
							<div class="form-group grid__item one-whole lap--one-half desk--one-half">
	                            <label>Current password</label>
	                            <input class="form-group__item" type="password" name="password" value="">  
	                        </div>
	                        <div class="form-group grid__item one-whole desk--one-half">
                        
                    		</div> 
						</div>
                    </div>

                    <div class="form-group grid__item one-whole lap--one-half desk--one-half">
                        <label>New password</label>
                        <input class="form-group__item" type="password" name="new_password" value="">  
                    </div>  

                    <div class="form-group grid__item one-whole lap--one-half desk--one-half">
                        <label>Confirm password</label>
                        <input class="form-group__item" type="password" name="confirm_password" value="">  
                    </div>  

				</div>

				<div class="form-group button-group button-group--spaced-2x">
					<a class="button button--positive"><i class="fa fa-check fa-pad--right"></i><b> Save</b> </a>
					<a class="button button--negative"><i class="fa fa-close fa-pad--right"></i><b> Cancel</b> </a>
					<br>
				</div>

            </fieldset>    

        </form>
	</div>
</div>