<div class="card card-shadow-frame soft--bottom">
	<div class="card__title">
		<span class="epsilon"><i class="fa fa-camera"></i> Photos <span class="colour-grey-light">( {{photos.count}} )</span></span>
	</div>
    <div class="card__section card__content">

        <div class="slider slider-feature">
            
            <div class="slider-content">
                <div class="slider-frame slider-prev">  
                </div>
                <div class="slider-frame slider-current">
                </div>
                <div class="slider-frame slider-next">
                </div>
            </div>

            <div class="slider-arrows">
                <a class="arrow-left"></a>
                <a class="arrow-right"></a>
            </div>

            <!-- Double quotes needs to be escaped (converted to HTML number). e.g. "best" would become &#34;best&#34; -->
            <!-- Longer comments need to be limited to 100 characters and either have a flag, or inlcude <a class="read__more" href="#">Read full review</a> in the comment itself -->
            <div  class="slider-nav grid">
                <div class="grid__item palm--one-quarter lap--one-quarter one-eighth" ng-repeat="photo in photos.items">
                    <div class="slider-item-info" data-description="{{ photo.blurb | limitTo: 100 }}{{photo.blurb.length > 100 ? '... <a class=&#34;read__more&#34; href=&#34;'+photo.href+'&#34;>Read full review</a>' : ''}}" data-title="{{photo.title}}" data-review-link="{{photo.href}}" data-rating="{{photo.rating}}" data-time="{{photo.time_descr}}" data-photo="{{photo.src}}"></div>
                    <img class="image-thumb-square" src="{{photo.thumb}}" alt="{{photo.title}}">
                </div>
            </div>
        </div>

    </div>
    <div class="pagination soft">
        <div class="button-group button-group--spaced {# button-group--responsive #}">
            <a href="#" class="button button--small"><i class="fa fa-chevron-left fa-pad--right"></i> Prev</a>
            <a href="#" class="button button--small">1</a>
            <a href="#" class="button button--small button--inactive">2</a>
            <a href="#" class="button button--small">3</a>
            <a href="#" class="button button--small">Next <i class="fa fa-chevron-right fa-pad--left"></i></a>
        </div>
    </div>
</div>