{% extends 'base.html' %}{% load staticfiles %}{% load compressed %}
{% block content %}
<div class="middle">

    <section class="section section-signup">
        <div class="section-container">
            
            <div class="signup">

                <h1>Forgot your password?</h1>

                {% include "form_errors.html" with form=the_form%}
                <p>Enter the email address associated with your Yellow®.co.nz account, then click Reset. We’ll email you a link to a page where you can easily create a new password.</p>
                <form id="forgot_password" method="POST" action="{% if request.GET.from %}?from={{request.GET.from}}{% endif%}">
                 {% csrf_token %}
                    <fieldset>

                        <div class="form-group">
                            <label>Email address</label>
                            <input class="form-group__item" type="text" name="email">  
                            {{ the_form.email.errors }}
                        </div>   

                        <div class="form-group">
                            <input type="submit" value="Reset" class="button button--fill">
                        </div>

                    </fieldset>    

                </form>

            </div>

        </div>
    </section>

</div>

{% endblock %}


{% block footer %}
<footer>
    {% include "footer_basic.html" %}
</footer>
{% endblock %}


{% block pagescripts %}

    {% include "login_signup_vendor_scripts.html" %}    

    {% compressed_js 'loginSignup' %}

{% endblock %}
