@import "framework/ui/colours";
@import "framework/defaults";

.cta__more-details, .slider-arrows {
	display:none;
}
.slider-feature .slider-description {
	background: #000;
}
.dlp-map .embed-container {
	padding-bottom: 14%;
	height: 310px;
}
#photo-input {
    position: fixed;
    width: 0px
}