// USER AVATAR
// ===============================================================================

// Vars
$avatar-title-colour:       $colour-grey;
$avatar-count-colour:       $colour-blue;

.avatar {

    text-align: center;
    font-size: 0.8em;
    white-space: nowrap;
    padding-bottom: $base-line-height/2;
    @extend .font-face--condensed;

    h6 {
        margin-bottom: 3px;
        color: $avatar-title-colour; 
        font-size: 1.1em;
    }
    img {
        margin: 0px auto 3px auto;
    }
    .count {
        color: $avatar-count-colour;
    }
    i {
        font-size: $base-font-size*2;
        color: $colour-grey-light;
    }
}