// Raw colour variables
// ===============================================================================

// Some colours get their 'creative' names from here: http://chir.ag/projects/name-that-color/

$colour-black:                  #000;
$colour-black-transparent:      rgba(0, 0, 0, 0.3);
$colour-charcoal:               #262626;

$colour-blue:                   #007ed6;
$colour-blue-lighter:           #8aceff;
$colour-blue-lightest:          #c8e8ff;
$colour-blue-lightest-alt:      #e1f3ff;
$colour-blue-lightest-alt-2:    #dee6ef;
$colour-blue-darker:            #004779;
$colour-blue-darkest:           #001f35;

$colour-blue-bondi:             #0095af; // Dashboard profile colour
$colour-blue-java:              #1FC2C2; // Dashboard profile colour
$colour-blue-nevada:            #646D78; // 
$colour-blue-nevada-dark:       #363c43; // 
$colour-blue-nevada-light:      #363c43; // 

$colour-blue-facebook:          #4C66A4; // Social colour
$colour-blue-tumblr:            #35465C; // Social colour
$colour-blue-twitter:           #2FC2EF; // Social colour

$colour-green:                  #57be53;
$colour-green-lighter:          #a5edb5;
$colour-green-lightest:         #e8f6eb;
$colour-green-darker:           #0f9609;
$colour-green-darkest:          #057300;

$colour-grey:                   #555;
$colour-grey-alt:               #999;
$colour-grey-light:             #a2a2a2;
$colour-grey-light-alt:         #d7d7d7;
$colour-grey-lighter:           #eaeaea;
$colour-grey-lightest:          #f9f9f9;
$colour-grey-darker:            #383838;
$colour-grey-darkest:           #323232;

$colour-orange:                 #ffb400;
$colour-orange-lighter:         #ffce58;
$colour-orange-lightest:        #fdf6e6;
$colour-orange-darker:          #ed8600;
$colour-orange-darkest:         #d05300;

$colour-orange-tango:           #ec6f29; // Dashboard profile colour

$colour-red:                    #e54e4e;
$colour-red-lighter:            #f58f8f;
$colour-red-lightest:           #ffd1d1;
$colour-red-lightest-alt:       #f6e8e8;
$colour-red-darker:             #b50000;
$colour-red-darkest:            #6f0000;
$colour-red-google-plus:        #DD4B39; // Social colour

$colour-smoke:                  #646d78; // Title dark colours
$colour-smoke-dark:             #434c55; // Title dark colours
$colour-smoke-darker:           #363c43; // Title dark colours
$colour-smoke-lighter:          #8c97a4; // Title dark colours

$colour-white:                  #fff;
$colour-white-transparent:      rgba(255, 255, 255, 0.7);

$colour-yellow:                 #fff200;
$colour-yellow-lighter:         #fff988;
$colour-yellow-lightest:        #fffdd2;
$colour-yellow-darker:          #e4d800;
$colour-yellow-darkest:         #aba200;

// Hll


// Semantic colour variables
// ===============================================================================

$colour-box-shadow:             #d0d0d0;

$colour-positive:                #0bac03;
$colour-negative:                #d70000;

$colour-link:                   $colour-blue;
$colour-link-hover:             $colour-blue-darker;
$colour-link-active:            $colour-orange;

$colour-red-link:               #ae0000;
$colour-red-link-hover:         #5d0000;
$colour-disabled-bg:            #ddd;
$colour-disabled:               #777;


// Functional colour assignment variables
// ===============================================================================

// Base
$body-background:               $colour-grey-lighter;
$body-text:                     $colour-charcoal;
    
// Brand
$brand-primary:                 $colour-yellow;
$brand-primary-lighter:         $colour-yellow-lighter;
$brand-primary-lightest:        $colour-yellow-lightest;
$brand-primary-darker:          $colour-yellow-darker;
$brand-primary-darkest:         $colour-yellow-darkest;

// States

// UI Background and borders
// -------------------------------------------------------------------------------

// Sections
$section-bg:                    $colour-white;
$section-border:                $colour-grey-light-alt;

$section-bg-alt:                $colour-grey-light-alt;
$section-border-alt:            $colour-grey-light;

// Cards
// Moved vars to _cards.scss

// Highlights

// Social media
$facebook:                      $colour-blue-facebook;
$google-plus:                   $colour-red-google-plus;
$tumblr:                        $colour-blue-tumblr;
$twitter:                       $colour-blue-twitter;

// Buttons
$button-bg:                     $colour-blue;
$button-colour:                 $colour-white;

$button-disabled:               $colour-disabled;
$button-disabled-bg:            $colour-disabled-bg;

$button-bg-secondary:           $colour-charcoal;
$button-colour-secondary:       $colour-white;
 
$button-bg-tertiary:            $colour-yellow;
$button-colour-tertiary:        $colour-charcoal;

$button-bg-muted:               $colour-grey-lighter;
$button-colour-muted:           $colour-grey;

// Forms
$form-input-colour:             $colour-grey;
$form-input-bg:                 $colour-white;
$form-input-border:             $colour-grey-light-alt;

$form-disabled:                 $colour-disabled;
$form-disabled-bg:              $colour-disabled-bg;







