// NOTIFICATION BAR
// ===============================================================================


.notification-message {

    background: $colour-blue;
    color:      $colour-white;
    cursor:     pointer;
    text-align: center;
    padding:    5px;
    display:    none;

    b {
        padding: 0px 5px;
    }

    &:hover {
        background: $colour-blue-darker;
    }

    &.error {
        background:  $colour-orange-darker;
        &:hover {
            background: $colour-orange-darkest;
        }
    }
}
