// PRINT STYLESHEET
// ===============================================================================

@media print {
    
    // Vars


    // Placeholders
    %print-anchor-link {
        &[href]:after {
            content: "(" attr(href) ")";
        }
    }

    %print-phone-number {
        &:after {
            content: "(" attr(data-telephone) ")";
        }
    }

    %hide-me--print {
        display: none;
    }

    %print-side-padding {
        padding-left: $base-line-height;
        padding-right: $base-line-height;
    }

    %print-no-side-padding {
        padding-left: 0;
        padding-right: 0;
    }

    body {
        background-color: $colour-white;
        font-size: 10pt;
        * {
            box-shadow: none !important;
        }
    }
    p > a {
        @extend %print-anchor-link;
        &[href]:after {
            content: "(" attr(href) ")" !important;
            opacity: 1 !important;
            position: relative !important;
            background-color: transparent !important;
            transition: none !important
        }
    }
    
    // HIDE THESE ELEMENTS
    body {
        .network-bar,
        .mobile-menu,
        #search-results-map,
        .dlp-post-review,
        .dlp-review-tools .review-helpful,
        .middle > .section-hero-image,
        .search-quote-module,
        .embed-container,
        .article-popular,
        .dashboard-menu-items {
            @extend %hide-me--print;
        }

        header {
            .yellow-logo--small,
            #searchbox, 
            .header-browse, 
            .header-menu {
                @extend %hide-me--print;
            }
        }
        footer {
            .footer-horizon,
            .footer-middle {
                @extend %hide-me--print;
            }
        }
    }

    // ADD HORIZONTAL PADDING
    body {
        .header-container,
        .section-container,
        .footer-container {
            @extend %print-side-padding;
        }
    }

    // HOME 
    body {
        .tabs-content.suggested-business-content .card .card__section--image {
            height: 0;
        }
        .suggested-business-menu li:not(.active) {
            display: none;
        }
    }

    // SRP
    body {
        .middle > section.section-map {
            box-shadow: none;
        }
        .search-results-container {
            max-width: 100%;
            @extend %print-no-side-padding;
        }
        .cta__phone-us {
            &:after {
                content: "(" attr(data-telephone) ")" !important;
                color: $colour-white !important;
                position: relative !important;
                display: inline !important;
                margin-left: 10px !important;
                font-size: 11pt !important;
            }
        }
        .cta__website {
            &:after {
                content: "(" attr(href) ")" !important;
                color: $colour-white !important;
                position: relative !important;
                display: inline !important;
                margin-left: 10px !important;
                font-size: 11pt !important;
            }
        }
        .cta__directions {
            display: none !important;
        }
    }

    // DLP 
    body {
        .business__phone {
            @extend %print-phone-number;
        }
        .business__website {
            @extend %print-anchor-link;
        }
    }

    // ARTICLE
    body {
        .article-head {
            box-shadow: none;
            height: 200px;
        }
        .article-body {
            p a {
                @extend %print-phone-number;
            }
        }
    }

    // BROWSE & SITEMAP
    body {
        .browse-category {
            a {
                @extend %print-phone-number;
                span {
                    background-color: transparent;
                    display: inline-block;
                }
            }
        }
        .sitemap {
            a {
                @extend %print-phone-number;
            }
        }
    }

    // DISCOVER 
    body {
        .discover-tiles {
            a {
                @extend %print-phone-number;
            }
        }
    }

    // VOUCHER 
    body {
        .the-voucher {
            border: 1px solid #333;
        }
    }
    
    // FOOTER
    body {
        footer {
            position: relative !important;
            .block-list a {
                @extend %print-phone-number;
            }
            .inline-list a {
                @extend %print-phone-number;
            }
        }
    }
}

