body {
	margin: 0 auto;
	max-width: $body-max-width;
	background-color: $body-background;
	color: $body-text;
}

%grid__container-below-max-breakpoint { // Adds padding for mobile to all %grid__container instances
	@include media-query(below-desk-wide) {
		padding-left:  $gutter; // Same as default gutter width
		padding-right: $gutter; // Same as default gutter width
	}
}

%grid__container {
	margin: 0 auto;
	max-width: $grid-container-max-width;
	@extend %grid__container-below-max-breakpoint;
	@extend %clear-all;
}

.grid__container {
	@extend %grid__container;
}

