// RESULTS RELATED ELEMENTS
// ===============================================================================


// Vars
$cta-with-text-colour:				$colour-grey-light;



// CTA buttons on search result items

.cta__more-details {

}

%cta-buttons-with-title-text-base {
	font-family: $font-face-condensed;
	font-size: $h7-size;
	font-weight: 300;
	color: $cta-with-text-colour;
	@include media-query(portable) { // Shows titles only when on desktop
		display: none;
	}
}

.cta__phone-us {
	&[title]:after {
		@extend %cta-buttons-with-title-text-base;
		margin-left: -14px;
	}
}

.cta__website {
	&[title]:after {
		@extend %cta-buttons-with-title-text-base;
		margin-left: -9px;
	}
}

.cta__directions {
	&[title]:after {
		@extend %cta-buttons-with-title-text-base;
		margin-left: -15px;
	}
}