// HEADER
// ===============================================================================

// Vars

$header-padding:                    $base-line-height;
$header-bg:                         $brand-primary;
$header-border-bottom:              $colour-grey-light;
$network-bar-bg:                    $colour-grey;
$network-bar-border:                $colour-charcoal;
$network-bar-link:                  $colour-white;
$network-bar-list-bg:               $colour-grey-darker;
$network-bar-font-size:             $base-font-size - 2;
$search-box-border:                 $colour-grey;
$header-menu-colour:                $colour-black;
$header-menu-colour-hover:          $colour-charcoal;
$typeahead-dropdown-bg:             $colour-white;
$typeahead-dropdown-border:         $colour-white;
$typeahead-suggest-title:           $colour-black;
$typeahead-suggest-item:            $colour-grey;
$typeahead-suggest-item-border:     $colour-grey;


%header-interaction-elements {
    min-height: 36px;
}

.network-bar {
    background-color: $network-bar-bg;
    border-bottom: 1px solid $network-bar-border;
    .network-bar-container {
        @extend %grid__container;
    }
}

.network-bar {
    .network-bar__list {
        text-align: right;
        font-size: $network-bar-font-size;
        // background-color: $network-bar-list-bg;
        a {
            color: $network-bar-link;
            background-color: $network-bar-list-bg;
            text-decoration: none;
            border-style: solid;
            border-width: 1px;
            border-color: transparent;
            border-right-color: $network-bar-border;
            padding: 5px 12px;
            &:hover {
                background-color: $network-bar-border;
            }
        }
        li:first-child a {
            border-left-color: $network-bar-border;
        }
    }
}

header {
    background-color: $header-bg;
    box-shadow: 0px 3px 5px rgba($colour-charcoal, 0.15);
    border-bottom: 1px solid $header-border-bottom;
    .header-container {
        @extend %grid__container;
    }
}

.header-search {
    padding: ($header-padding / 1.25) (0);
    @include media-query(portable) {
        .grid {
            margin-left: -($gutter / 2);
            .grid__item {
                padding-left: $gutter / 2;
            }
        }
    }
    .form-group {
        @include media-query(portable) {
            margin-bottom: 0;
        }
    }
    .form-group__item {
        @extend %header-interaction-elements;
        border-color: $search-box-border;
    }
    .button {
        @extend %header-interaction-elements;
    }
}

.header-search {
    @include media-query(portable) {
        .header-search__where-and-button {
            margin-top: $gutter / 2;
        }
    }
}

.header-container.header-container--homepage {

}

.header-menu {
    text-align: right;
    a {
        margin-top: 4px;
        display: block;
        color: $header-menu-colour;
        &:hover {
            color: $header-menu-colour-hover;
        }
    }
}

// Typeahead

// Paste this into console to debug and inspect typeahead:
// $("#searchbox input[name='what']").eq(0).val("Ca").trigger("input");

span.twitter-typeahead {
    width: 100%;
}

%typeahead-suggestions-box-base {
    // color:  ;
    // padding: 5px 0;
    h3 {

    }
}

.tt-suggestion {
    border-bottom: 1px solid #ccc;
    padding: 3px 10px;
}

span.tt-dropdown-menu {
    z-index: 300 !important;
    background-color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    width: 100%;
    border: 1px solid $search-box-border;
    border-top: none;
    
    .tt-dataset-ta-businesses {
        @extend %typeahead-suggestions-box-base !optional;

    }

    .tt-dataset-ta-locations {
        @extend %typeahead-suggestions-box-base !optional;
    }
    
    h3 {
        margin-bottom: 0;
        color: $typeahead-suggest-title;
        font-size: $h4-size;
        padding: 5px 10px;
        border-bottom: 1px solid #ccc;
        font-family: $font-face-condensed;
        font-weight: $font-weight-regular;
    }

    .tt-suggestion {
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
        &:last-child {
            border-bottom: none;
            // padding-bottom: 0;
        }
        p {
            padding: 0;
            margin: 0;
            strong {

            }
        }
        &.tt-cursor {
            color: black; 
            cursor: pointer;
            background-color: #eaeaea;
        }
    }
}