// HEADER
// ===============================================================================

// Vars

$header-padding:                    $base-line-height;
$header-bg:                         $brand-primary;
$header-border-bottom:              $colour-grey-light;
$network-bar-bg:                    $colour-grey;
$network-bar-border:                $colour-charcoal;
$network-bar-link:                  $colour-white;
$network-bar-list-bg:               $colour-grey-darker;
$network-bar-font-size:             $base-font-size - 2;
$search-box-border:                 $colour-grey;
$header-menu-colour:                $colour-black;
$header-menu-colour-hover:          $colour-charcoal;
$typeahead-dropdown-bg:             $colour-white;
$typeahead-dropdown-border:         $colour-white;
$typeahead-suggest-title:           $colour-black;
$typeahead-suggest-item:            $colour-grey;
$typeahead-suggest-item-border:     $colour-grey;


%header-interaction-elements {
    min-height: 36px;
}

.network-bar {
    background-color: $network-bar-bg;
    border-bottom: 1px solid $network-bar-border;
    .network-bar-container {
        @extend %grid__container;
    }
}

.network-bar {
    .network-bar__list {
        text-align: right;
        font-size: $network-bar-font-size;
        // background-color: $network-bar-list-bg;
        a {
            color: $network-bar-link;
            background-color: $network-bar-list-bg;
            text-decoration: none;
            border-style: solid;
            border-width: 1px;
            border-color: transparent;
            border-right-color: $network-bar-border;
            padding: 5px 12px;
            &:hover {
                background-color: $network-bar-border;
            }
        }
        li:first-child a {
            border-left-color: $network-bar-border;
        }
        // Logged in menu
        .user-menu {
            position: relative;
            &:hover {
                .user-name {
                    background: $colour-white;
                    color: $colour-black;
                    .image-thumb-circle {
                        padding: 0px;
                        border: 2px solid $colour-black;
                    }
                }
                .user-menu-out {
                    display: block;
                }
            }
        }
        .user-name {
            position: relative;
            white-space: nowrap;
            padding-right: 40px;
            cursor: pointer;
            img {
                position: absolute;
                top: 3px;
                right: 10px;
            }
        }
        .user-menu-out {
            display: none;
            position: absolute;
            top: 29px;
            right: 0px;
            background: rgba(255, 255, 255, 0.95);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.7);
            z-index: 1000;
            width: 350px;
            text-align: left;
            color: $colour-charcoal;
            a {
                background: none;
                color: $colour-grey;
                padding: 10px;
                display: block;
                border: none;
            }
            .left {
                float: left;
                width: 20%;
            }
            .right {
                float: left;
                width: 80%;
                padding-left: 10px;
            }
        }
        .user-menu-out-head {
            padding: $gutter*0.75 $gutter/2;
            img {
                width: 50px;
                height: 50px;
                border: 3px solid $colour-charcoal;
                padding: 0px;
            }
            h6 {
                font-weight: normal;
                margin-bottom: 0px; 
                color: $colour-grey-alt;
                b {
                    display: block;
                    font-weight: bold;
                    color: $colour-black;
                    font-size: 1.1em;
                    padding: 5px 0px 0px 0px;
                }
                span {
                    font-size: 0.9em;
                }
            }
        }
        .user-menu-out-items {
            background: $colour-white;
            border: 1px dashed $colour-grey-lighter;
            border-left: none;
            border-right: none;
            padding: 5px 0px;
            .left {
                text-align: center;
            }
            a {
                padding: 5px 10px;
            }
            b {
                padding: 10px 0px;
            }
        }
        .user-menu-out-logout {
            text-align: center;
        }
    }
}

header {
    background-color: $header-bg;
    box-shadow: 0px 3px 5px rgba($colour-charcoal, 0.15);
    border-bottom: 1px solid $header-border-bottom;
    .header-container {
        @extend %grid__container;
    }
}

.header-search {
    padding: ($header-padding / 1.25) (0);
    @include media-query(portable) {
        .grid {
            margin-left: -($gutter / 2);
            .grid__item {
                padding-left: $gutter / 2;
            }
        }
    }
    .form-group {
        @include media-query(portable) {
            margin-bottom: 0;
        }
    }
    .form-group__item {
        @extend %header-interaction-elements;
        border-color: $search-box-border;
    }
    .button {
        @extend %header-interaction-elements;
    }
}

.header-search {
    @include media-query(portable) {
        .header-search__where-and-button {
            margin-top: $gutter / 2;
        }
    }
}

.header-container.header-container--homepage {

}

.header-menu {
    text-align: right;
    a {
        margin-top: 4px;
        display: block;
        color: $header-menu-colour;
        &:hover {
            color: $header-menu-colour-hover;
        }
    }
}


// Typeahead

// Paste this into console to debug and inspect typeahead:
// $("#searchbox input[name='what']").eq(0).val("Ca").trigger("input");

span.twitter-typeahead {
    width: 100%;
}

%typeahead-suggestions-box-base {
    // color:  ;
    // padding: 5px 0;
    h3 {

    }
}

.tt-suggestion {
    border-bottom: 1px solid #ccc;
    padding: 3px 10px;
}

span.tt-dropdown-menu {
    z-index: 300 !important;
    background-color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    width: 100%;
    border: 1px solid $search-box-border;
    border-top: none;
    
    .tt-dataset-ta-businesses {
        @extend %typeahead-suggestions-box-base !optional;

    }

    .tt-dataset-ta-locations {
        @extend %typeahead-suggestions-box-base !optional;
    }
    
    h3 {
        margin-bottom: 0;
        color: $typeahead-suggest-title;
        font-size: $h4-size;
        padding: 5px 10px;
        border-bottom: 1px solid #ccc;
        font-family: $font-face-condensed;
        font-weight: $font-weight-regular;
    }

    .tt-suggestion {
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
        &:last-child {
            border-bottom: none;
            // padding-bottom: 0;
        }
        p {
            padding: 0;
            margin: 0;
            strong {

            }
        }
        &.tt-cursor {
            color: black; 
            cursor: pointer;
            background-color: #eaeaea;
        }
    }
}

.header-basic {
    background: $colour-white;
    .section-container {
        @extend %grid__container;
    }
}

.header-basic-logo {
    padding: 15px 0px;
    display: inline-block;
}