// SASS PLACEHOLDER CLASSES (a.k.a Silent classes)
// ===============================================================================

%default-box-shadow {
	box-shadow: $brand-box-shadow;
}

%cursor-disabled {
    pointer-events: none; // Future-proof disabling of clicks
    cursor: not-allowed;  // Fallback if above not supported
}