// RESULTS RELATED ELEMENTS
// ===============================================================================

// Vars
$results-item-patinum-bg:				$colour-blue-lightest;
$business-title:	                    $colour-black;
$business-address:	                    $colour-black;
$business-categories-border:            $colour-grey;
$business-info-grey-bg:			        $colour-grey-lightest;
$business-title-size-large:             $h4-size;
$cta-with-text-colour:                  $colour-grey-light;


.business-info.grey-bg {
    background: $business-info-grey-bg;
}  


.business__title {
    font-size: $h6-size + 1;
    padding-bottom: floor($base-line-height / 6);
    display: block;
    a {
        color: $business-title;
        text-decoration: none;
    }
    &.larger--title {
        margin-bottom: $base-line-height/4;
        font-weight: normal;
        font-size: $business-title-size-large;
    }
}

.business__message {
    margin-bottom: 4px;
    font-size: $h6-size;
    display: block;
    a {
        color: $business-title;
        text-decoration: none;
    }
}

.business__categories {
    font-size: $h7-size;
    padding-bottom: floor($base-line-height / 4);
    a {
        text-decoration: none;
        border-bottom: 1px dashed $business-categories-border;
        font-weight: 300;
    }
}

.business__address {
	color: $business-address;
	font-size: $h6-size;
	font-style: normal;
    display: block;
    a {
        color: $business-title;
        text-decoration: none;
    }
}


// CTA buttons on search result items

.cta__more-details {

}

%cta-buttons-with-title-text-base {
    font-family: $font-face-condensed;
    font-size: $h7-size;
    font-weight: 300;
    color: $cta-with-text-colour;
    @include media-query(below-desk-wide) { // Shows titles only when on desktop
        display: none;
    }
}

.cta__phone-us {
    &[title]:after {
        @extend %cta-buttons-with-title-text-base;
        margin-left: -14px;
    }
}

.cta__website {
    &[title]:after {
        @extend %cta-buttons-with-title-text-base;
        margin-left: -9px;
    }
}

.cta__directions {
    &[title]:after {
        @extend %cta-buttons-with-title-text-base;
        margin-left: -15px;
    }
}