// SOCIAL MEDIA SHARE ICONS
// ===============================================================================


.share {
    color: $colour-grey-alt;
    text-align: right;
    b {
        font-weight: normal;
    }
    a {
        color: $colour-grey-alt;
    }
}