// STAR RATER
// ===============================================================================


.star-rater {

    color:      $colour-orange;
    cursor:     pointer;
    display:    inline-block;
}